
@use "foundation/colors" as c;
@use "foundation/typography" as t;
@use "foundation/breakpoints" as b;

.coursesContainer {
  margin-bottom: 9rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7.2rem;
}

/* ********** Card styles ****************** */

.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
  border: c.$border;
  margin-right: auto;
  background-color: c.$beige-150;
  box-shadow: c.$shadow;
}
.cardText {
  padding: 1.8rem 2.1rem 1.8rem 2.1rem;
  position: relative;
  margin-top: -25%;
}
.courseDate {
  margin: 0 0 1.4rem;
  font-size: 2.7rem;
  font-weight: 400;
}
.courseLocation {
  margin: 0.2rem 0;
  font-size: 2.2rem;
  font-weight: 400;
}
.coursePrice {
  margin: 0.7rem 0 3.6rem;
  font-size: 2.2rem;
  font-weight: bold;
}
.cardImage {
  height: 80%;
}

/* ********** Eventbrite button ************ */

.britelink {
  display: flex;
  background-color: c.$grey-950;
  height: 6.3rem;
  border: 0;
  margin: 5.2rem auto 3rem;
  color: c.$grey-050;
  font-size: 3rem;
  font-family: t.$sans;
  font-weight: bold;
  line-height: 1.5em;
  user-select: none;
  padding: 0.7rem 2.7rem 0.4rem;
  border-radius: 8rem;
  box-shadow: 0 0.5rem 0 c.$grey-400;
  cursor: pointer;
}
.britelink:hover {
  transform: translateY(0.15rem);
  box-shadow: 0 0.4rem 0 c.$grey-400;
}
.britelink:active,
.britelink:focus {
  transform: translateY(0.5rem);
  box-shadow: 0 0 0 rgb(156, 158, 158);
}
.britelink:focus {
  outline: grey dashed 0.44rem;
}

/* ********** Media Queries ************ */

@media (max-width: 1114px) {
  .courseDate {
    font-size: 1.4rem;
  }
  .britelink {
    font-size: 1.6rem;
    height: 3.2rem;
  }
}
@media only screen and (max-width: 978px) {
  .coursesContainer {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .cardContainer {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0rem;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .cardText {
    padding: 1rem 1.3rem 1rem 2rem;
    margin-top: 0;
  }
  .cardImage {
    height: 100%;
  }
}
@media only screen and (max-width: 848px) {
  .cardContainer {
    grid-template-columns: 1fr 1.5fr;
  }
}
@media only screen and (max-width: 740px) {
  .cardContainer {
    grid-template-columns: 1fr;
    max-width: 25rem;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .cardText {
    width: 100%;
    padding: 1rem 1.3rem 1rem 1.3rem;
    margin-top: -25%;
  }
  .cardImage {
    height: 80%;
  }
}
@media only screen and (max-width: 480px) {
  .cardContainer {
    width: 100%;
  }
  .cardText {
    width: 100%;
    padding: 1rem 1.3rem 1rem 1.3rem;
  }
}
