$white: hsl(0, 0%, 100%);
$lightgray: hsl(0, 0%, 98%);
$midgray: hsl(360, 1%, 80%);
$darkgray: hsl(0, 0%, 40%);
$black: hsl(0, 0%, 13%);
$blue: hsl(192, 100%, 42%);
$background: hsl(43, 39%, 93%);
$border: hsl(43, 39%, 83%);
$sans: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
$serif: ui-serif,Georgia,'Times New Roman',Times,serif;
$mono: ui-monospace,Menlo,Courier,monospace;

.outer {
  font-family: $sans;
  background-color: $background;
  color: $black;
  margin: 0;
  width: 100%;

  p {
    font-weight: 200;
    padding: 5px 0;
    line-height: 1.45;
  }

  h1 {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.5;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  time {
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0 2px 0;
  }

  a {
    color: $blue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.container {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.divider {
  background-color: $background;
  height: 2px;
  display: block;
  margin: auto;
}

.preheader {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  &Row {
    font-size: 12px;
  }
  &Data {
    width: 50%;
  }
  a {
    color: $darkgray;
    text-decoration: underline;
  }
}

.header {
  background-color: $white;
  text-transform: uppercase;
  line-height: 1.5;
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 40px 0;
  font-weight: 200;
  letter-spacing: 0.6px;
  &Data {
    display: block;
    margin: 30px 20px 60px;
  }
  a {
    text-decoration: none;
  }
  @media only screen and (max-width: 480px) {
    font-size: 18px;
  }
}

.brand {
  border-radius: 100%;
}

.headline {
  background-color: $white;
  width: 100%;
  text-align: center;
  font-size: 16px;
  &Data {
    margin: 0 0 40px 0;
    display: block;
    padding: 20px;
  }
  h1 {
    @media only screen and (max-width: 480px) {
      font-size: 22px;
    }
  }
}

.imageFullwidth {
  width: 100%;
  height: auto;
}

.body {
  background-color: $white;
  &Row {
    display: block;
    padding: 50px 20px;
  }
}

.events {
  padding: 40px 0;
  background-color: $white;
  border-bottom: 3px solid $border;
}

.event {
  text-align: left;
  display: block;
  width: 50%;
  float: left;
  &Head,
  &Data {
    padding: 20px;
  }
  a {
    font-weight: 400;
  }
  @media only screen and (max-width: 480px) {
    float: none;
    width: 100%;
  }
}

.imageInset {
  width: 100%;
  height: auto;
}

.footer {
  padding: 20px 10px 40px 10px;
  width: 100%;
  text-align: center;
  color: $darkgray;
  p {
    font-weight: 400;
  }
  a {
    color: $darkgray;
    text-decoration: underline;
  }
  &Data {
    text-align: center;
    width: 100%;
    font-size: 13px;
    &Social {
      padding: 20px;
      a {
        text-decoration: none;
      }
    }
  }
}

.imageSocial {
  width: 48px;
  height: 48px;
  margin: 5px;
  border-radius: 100%;
}
