html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sans {
  font-family: var(--font-sans-serif);
}

.mono {
  font-family: var(--font-monospace);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.my-5 {
  margin-block: 1.25rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.font-bold {
  font-weight: 700;
}

.anchor {
  opacity: 0;
  left: -1em;
  padding-right: 0.35em;
  text-decoration: none;
}

.heading:hover .anchor {
  opacity: 1;
}


