* {
  text-decoration-thickness: 2px !important;
}

html {
  scroll-behavior: smooth;
}

li {
  padding-left: 1em;
}

.hr {
  height: 2px;
  background: var(--grey-250);
  border: none;
  margin-bottom: 2rem;
}

.anchor {
  opacity: 0;
  left: -1em;
  padding-right: 0.35em;
  text-decoration: none;
}

.heading:hover .anchor {
  opacity: 1;
}
