@use "../styles/foundation/breakpoints" as b;

.cardImageContainer {
  position: relative;
  width: 100%;
  // height: 400px;
  padding: 3rem;
  // border: 2px solid var(--foreground);
  // overflow: hidden;
}

.cardImage {
  width: 100%;
  border: 2px solid var(--foreground);
}

.cardText {
  padding: 0 3rem 1.8rem;
  display: flex;
  flex-direction: column;
}

.courseTitle {
  font-size: 5.1rem;
  margin: 0 0 2rem 0;
}

.courseSubitle {
  font-size: 3rem;
  margin: 0 0 4rem 0;
  font-weight: 400;
  margin: 0 0 6rem 0;
}

.courseInfo {
  text-transform: uppercase;
  margin: 0 0 1.4rem;
  font-size: 2rem;
  font-weight: 400;
}

// .courseLocation {
//   text-transform: uppercase;
//   margin: 0.2rem 0;
//   font-size: 2rem;
//   font-weight: 400;
// }
//
// .coursePrice {
//   margin: 0.7rem 0 3.6rem;
//   font-size: 2rem;
//   font-weight: 400;
// }

.horizontal {
  padding: 0;
  margin: 0;
  display: inline;
  &:not(:last-child)::after {
    content: ', ';
  }
}

.britelink {
  text-decoration: none;
}

.britelinkBtn {
  text-transform: uppercase;
  display: flex;
  background-color: var(--grey-000);
  border: 2px solid var(--foreground);
  margin: 5.2rem auto 3rem;
  color: var(--foreground);
  font-size: 2.4rem;
  font-family: var(--sans);
  line-height: 1.5em;
  user-select: none;
  padding: 1.5rem 5rem 1.5rem;
  cursor: pointer;
  a {
    text-decoration: none !important;
  }
}

.britelink:hover {
  transform: translateY(0.15rem);
  box-shadow: 0 0.4rem 0 var(--grey-400);
}

.britelink:active,
.britelink:focus {
  transform: translateY(0.5rem);
  box-shadow: 0 0 0 rgb(156, 158, 158);
}

.britelink:focus {
  outline: grey dashed 0.44rem;
}
