.coursesContainer {
  margin-bottom: 9rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7.2rem;
}

.cardContainer {
  // display: grid;
  // grid-template-rows: auto auto;
  display: flex;
  flex-direction: column;
  border: var(--border);
  margin-right: auto;
  background-color: var(--beige-150);
  box-shadow: var(--shadow);
}
