.block {
  display: block;
}

.float-left {
  float: left;
}

.m-0 {
  margin: 0px;
}

.m-5 {
  margin: 5px;
}

.m-auto {
  margin: auto;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-2 {
  margin-bottom: 2px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.p-0 {
  padding: 0px;
}

.p-20 {
  padding: 20px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-20 {
  padding-bottom: 20px;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.max-w-600 {
  max-width: 600px;
}

.h-5 {
  height: 0.125rem;
}

.h-auto {
  height: auto;
}

.sans {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',Helvetica,Arial,Verdana,sans-serif!important;
}

.text-xs {
  font-size: 12px;
}

.text-sm {
  font-size: 14px;
}

.text-base {
  font-size: 16px;
}

.text-lg {
  font-size: 18px;
}

.text-2xl {
  font-size: 25px;
}

.font-200 {
  font-weight: 200;
}

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-700 {
  font-weight: 700;
}

.text-dark {
  color: #212121;
}

.text-muted {
  color: #666666;
}

.text-accent {
  color: #00ABD6;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.leading-6 {
  line-height: 1.5em;
}

.tracking-wide {
  letter-spacing: 0.025em;
}

.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

.underline:hover {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.bg-color {
  background-color: #F4F0E6;
}

.bg-white {
  background-color: #FFF;
}

.rounded-full {
  border-radius: 9999px;
}

.border-2 {
  border-bottom: 3px solid #E4DAC2;
}

.social-icon {
  width: 48px;
  height: 48px;
}

@media only screen and (max-width: 480px) {
  .header {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .headline h1 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 480px) {
  .event {
    float: none;
    width: 100%;
  }
}
