@use '/styles/foundation/breakpoints' as b;

.coursesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-bottom: 9rem;
  @include b.mq(lg) {
    grid-template-columns: 1fr;
  }
}

.cardContainer {
  background-color: var(--background);
  border: 2px solid var(--foreground);
}

.cardImageContainer {
  position: relative;
  width: 100%;
  padding: 3rem;
  @include b.mq(sm) {
    padding: 2rem;
  }
  @include b.mq(sm) {
    padding: 0 0 2rem;
  }
}

.cardImage {
  width: 100%;
  border: 2px solid var(--foreground);
  @include b.mq(sm) {
    border: 0;
    border-bottom: 2px solid var(--foreground);
  }
}

.cardText {
  display: flex;
  flex-direction: column;
  padding: 0 3rem 1.8rem;
  @include b.mq(sm) {
    padding: 0 2rem;
  }
}

.courseTitle {
  margin: 0 0 2rem;
  font-size: 5.1rem;
  font-size: 3.5vw;
  @include b.mq(xl) {
    font-size: 3.8vw;
  }
  @include b.mq(lg) {
    font-size: 6vw;
  }
  @include b.mq(md) {
    font-size: 7.5vw;
  }
  @include b.mq(sm) {
    font-size: 4rem;
  }
}

.courseSubitle {
  margin: 0 0 4rem;
  margin: 0 0 6rem;
  font-size: 3rem;
  font-size: 2vw;
  font-weight: 400;
  @include b.mq(xl) {
    font-size: 2.4vw;
  }
  @include b.mq(lg) {
    font-size: 3.5vw;
  }
  @include b.mq(md) {
    font-size: 2.6rem;
  }
  @include b.mq(sm) {
    font-size: 2.4rem;
  }
}

.courseInfo {
  margin: 0 0 1.4rem;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  @include b.mq(md) {
    font-size: 1.8rem;
  }
  @include b.mq(sm) {
    font-size: 1.6rem;
  }
}

.horizontal {
  display: inline;
  padding: 0;
  margin: 0;
  &:not(:last-child)::after {
    content: ', ';
  }
}

.britelink {
  text-decoration: none;
}

.britelinkBtn {
  display: flex;
  padding: 1.5rem 5rem;
  margin: 5.2rem auto 3rem;
  font-family: var(--sans);
  font-size: 2.4rem;
  line-height: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  // user-select: none;
  background-color: var(--white);
  border: var(--border);
  @include b.mq(md) {
    font-size: 2rem;
  }
  @include b.mq(sm) {
    font-size: 1.8rem;
  }
  a {
    text-decoration: none;
  }
}

.disabled {
  pointer-events: none;
  background-color: hsl(0, 0%, 80%);
}
