@use '/styles/base/breakpoints' as b;

.hero {
  position: relative;
  display: grid;
  place-items: center;
  height: unset;
  aspect-ratio: 3 / 1;
  margin-bottom: 0;
  overflow: hidden;
  background-color: var(--background);
  border-bottom: 1px solid var(--pattern);
  @media only screen and (min-width: 1504px) {
    aspect-ratio: unset;
    height: 504px;
  }
}

.heroInner {

}

.venn {
  position: relative;
  width: 60vw;
  max-width: 902px;
  margin-inline: auto;
  margin-top: calc(-9.5rem - 10%);
  @media only screen and (min-width: 1504px) {
    margin-top: -19rem;
  }
}

.vennDiagram {
  position: relative;
  width: 125%;
  margin: 6rem -4rem -12rem;
}

%all-content {
  position: absolute;
  font-family: var(--font-monospace);
  font-size: clamp(1.8rem, 2.4vw, 2.27rem);
  font-weight: 700;
  color: var(--grey-650);
  text-align: center;
  user-select: none;
  transform: translate(-50%, -50%);
}

.content1 {
  @extend %all-content;

  top: 25%;
  left: 50%;
}

.content2 {
  @extend %all-content;

  top: 62%;
  left: 20%;
}

.content3 {
  @extend %all-content;

  top: 62%;
  left: 80%;
  line-height: 1.2;
}

.content4 {
  @extend %all-content;

  top: 55%;
  left: 50%;
  color: var(--background);
}

%bg-circle {
  position: absolute;
  width: 60.59%;
  background-color: hsla(0, 100%, 100%, 40%);
  border: 1px solid var(--pattern);
  border-radius: 50%;
}

.circle1 {
  @extend %bg-circle;

  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.circle2 {
  @extend %bg-circle;

  bottom: 10.02%;
  left: 2.41%;
}

.circle3 {
  @extend %bg-circle;

  right: 2.41%;
  bottom: 10.02%;
}

%fg-circle {
  position: absolute;
  width: 60.59%;
  border-radius: 50%;
  mix-blend-mode: difference;
  opacity: 0.65;
}

.circle4 {
  @extend %fg-circle;

  top: 0;
  left: 50%;
  background-color: hsla(60, 100%, 50%, 40%);
  transform: translateX(-50%);
}

.circle5 {
  @extend %fg-circle;

  right: 2.41%;
  bottom: 10.02%;
  background-color: hsla(180, 100%, 50%, 40%);
}

.circle6 {
  @extend %fg-circle;

  bottom: 10.02%;
  left: 2.41%;
  background-color: hsla(120, 100%, 50%, 40%);
}

.vennDiagram::after,
.circle1::after,
.circle2::after,
.circle3::after,
.circle4::after,
.circle5::after,
.circle6::after {
  display: block;
  padding-bottom: 100%;
  content: '';
}

.ampersand {
  top: 45%;
  left: 50%;
  // width: 9vw;
  // width: 8.53rem;
  width: clamp(4rem, 8.53rem, 9vw);
  fill: var(--background);
  transform: translate(-46%, -45%);
}

.about {
  grid-template-columns: 1fr;
  a {
    line-height: 1.3;
  }
  @include b.mq(md) {
    grid-template-columns: 3fr 1fr;
  }
}

.content {
  margin-block: 7rem 0;
  margin-right: 0;
  @include b.mq(md) {
    margin-right: 3rem;
  }
}

.body {
  max-width: 710px;
  margin-bottom: 5rem;
}

.h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--grey-700);
}

.staffList {
  margin-bottom: 5rem;
  padding: 0;
  list-style-type: none;

}

.trustees {
  li {
    display: inline;
    &:not(:last-child)::after {
      content: ', ';
    }
  }
}
