@use '/styles/base/breakpoints' as b;

.hero {
  position: relative;
  display: grid;
  height: unset;
  place-items: center;
  aspect-ratio: 1 / 1;
  margin-bottom: 3rem;
  overflow: hidden;
  background-color: var(--background);
  border-bottom: 1px solid var(--pattern);
  @include b.mq(md) {
    display: flex;
    height: unset;
    margin-bottom: 7rem;
    aspect-ratio: 3 / 1;
  }
  @media only screen and (min-width: 1504px) {
    height: 504px;
    aspect-ratio: unset;
  }
}

.venn {
  position: absolute;
  width: 115vw;
  margin-top: -19rem;
  margin-top: calc(5rem - 10%);
  @media only screen and (min-width: 1504px) {
    margin-top: -11rem;
  }
  @include b.mq(md) {
    margin-top: -13.5rem;
    margin-inline: auto;
    position: relative;
    width: 60vw;
    max-width: 902px;
  }
  @include b.mq(lg) {
    margin-top: -12.5rem;
  }
}

.vennDiagram {
  position: relative;
  width: 125%;
  @include b.mq(md) {
    margin: 6rem -4rem -12rem;
  }
}

%all-content {
  position: absolute;
  font-family: var(--font-monospace);
  font-size: 1rem;
  font-size: 4.3vw;
  font-size: clamp(1rem, 4.3vw, 5rem);
  font-weight: 700;
  color: var(--grey-650);
  text-align: center;
  user-select: none;
  transform: translate(-50%, -50%);
  @include b.mq(md) {
    font-size: clamp(1.4rem, 2.4vw, 2.27rem);
  }
}

.content1 {
  @extend %all-content;

  top: 20%;
  left: 50%;
  @include b.mq(md) {
    top: 26%;
  }
  @include b.mq(lg) {
    top: 25%;
  }
}

.content2 {
  @extend %all-content;

  top: 70%;
  left: 23%;
  @include b.mq(md) {
    top: 60%;
    left: 20%;
  }
  @include b.mq(lg) {
    top: 62%;
  }
}

.content3 {
  @extend %all-content;

  top: 70%;
  left: 77%;
  line-height: 1.2;
  @include b.mq(md) {
    top: 60%;
    left: 80%;
  }
  @include b.mq(lg) {
    top: 62%;
  }
}

.content4 {
  @extend %all-content;

  top: 55%;
  left: 50%;
  color: var(--background);
}

%bg-circle {
  position: absolute;
  width: 60.59%;
  background-color: hsla(0, 100%, 100%, 40%);
  border: 1px solid var(--pattern);
  border-radius: 50%;
}

.circle1 {
  @extend %bg-circle;

  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.circle2 {
  @extend %bg-circle;

  bottom: 10.02%;
  left: 2.41%;
}

.circle3 {
  @extend %bg-circle;

  right: 2.41%;
  bottom: 10.02%;
}

%fg-circle {
  position: absolute;
  width: 60.59%;
  border-radius: 50%;
  mix-blend-mode: difference;
  opacity: 0.65;
}

.circle4 {
  @extend %fg-circle;

  top: 0;
  left: 50%;
  background-color: hsla(60, 100%, 50%, 40%);
  transform: translateX(-50%);
}

.circle5 {
  @extend %fg-circle;

  right: 2.41%;
  bottom: 10.02%;
  background-color: hsla(180, 100%, 50%, 40%);
}

.circle6 {
  @extend %fg-circle;

  bottom: 10.02%;
  left: 2.41%;
  background-color: hsla(120, 100%, 50%, 40%);
}

.vennDiagram::after,
.circle1::after,
.circle2::after,
.circle3::after,
.circle4::after,
.circle5::after,
.circle6::after {
  display: block;
  padding-bottom: 100%;
  content: '';
}

.ampersand {
  top: 45%;
  left: 50%;
  width: 3.5rem;
  fill: var(--background);
  transform: translate(-46%, -45%);
  @include b.mq(md) {
    width: clamp(4rem, 8.53rem, 9vw);
  }
}

.about {
  grid-template-columns: 1fr;
  @include b.mq(lg) {
    grid-template-columns: 3fr 1fr;
  }
  a {
    line-height: 1.3;
  }
}

.content {
  margin-right: 0;
  @include b.mq(md) {
    margin-right: 3rem;
  }
}

.body {
  max-width: 710px;
  margin-bottom: 4rem;
  margin-inline: auto;
  @include b.mq(md) {
    margin-bottom: 5rem;
  }
  @include b.mq(lg) {
    margin-inline: unset;
  }
}

.h2 {
  max-width: 710px;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.7rem;
  color: var(--grey-700);
  margin-inline: auto;
  @include b.mq(md) {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 1rem;
  }
  @include b.mq(lg) {
    margin-inline: unset;
    max-width: unset;
  }
}

.staffList {
  max-width: 710px;
  padding: 0;
  margin-bottom: 5rem;
  list-style-type: none;
  margin-inline: auto;
  @include b.mq(lg) {
    margin-inline: unset;
    max-width: unset;
  }
  @include b.mq(lg) {
    margin-inline: unset;
    max-width: unset;
  }
}

.trustees {
  max-width: 710px;
  text-align: center;
  margin-inline: auto;
  li {
    font-size: 1.3rem;
    text-align: center;
    display: inline;
    &:not(:last-child)::after {
      content: ', ';
    }
    @include b.mq(md) {
      font-size: 1.4rem;
    }
  }
  @include b.mq(md) {
    text-align: left;
  }
}

.hr {
  display: block;
  @include b.mq(lg) {
    display: none;
  }
}
