@use '/styles/base/breakpoints' as b;

.artform {
  grid-template-columns: 1fr;
  @include b.mq(md) {
    grid-template-columns: 3fr 1fr;
  }
}

.content {
  margin-top: 7rem;
  margin-right: 0;
  @include b.mq(md) {
    margin-right: 2rem;
  }
}

.h1 {
  margin-bottom: 3rem;
  font-size: 3.4rem;
  color: var(--grey-650);
}

.h2 {
  margin-bottom: 1rem;
  font-size: 2.1rem;
  color: var(--grey-650);
}

.body {
  max-width: 710px;
  margin-bottom: 4rem;
}

.hr {
  display: initial;
  @include b.mq(md) {
    display: none;
  }
}
