@use '/styles/base/breakpoints' as b;

@keyframes head {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes whale {
  from {
    transform: scale(-1, 1) rotate(0deg);
  }
  to {
    transform: scale(-1.1, 1.1) rotate(20deg);
  }
}

@keyframes dance {
  from {
    transform: translate(-50px) rotate(-10deg);
  }
  to {
    transform: translate(50px) rotate(10deg);
  }
}

.events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 15rem;
  margin-bottom: 4rem;
  gap: 2rem;
}

.event {
  margin-bottom: 2rem;
}

.eventImage {
  border: 2px solid var(--grey-900);
  background-color: var(--background);
  aspect-ratio: 1 / 1;
  margin-bottom: 1.3rem;
  position: relative;
  overflow: hidden;
  display: grid;
}

.head {
  width: 200px;
  transform: rotate(0deg);
  filter: drop-shadow(20px -20px 0px rgba(0, 0, 0, 1));
  top: -10%;
  animation: 500s 1s infinite head;
}

.whale {
  width: 500px;
  transform: scale(-1, 1) rotate(0deg);
  right: 16%;
  bottom: -2%;
  animation: 20s ease-in-out 1s infinite alternate whale;
}

.map {
  width: 300px;
  right: 0;
}

.tree {
  left: 20%;
  top: -7%;
}

.dance {
  width: 400px;
  transform: translate(-50px) rotate(-10deg);
  filter:
    drop-shadow(-2px -2px 0px rgba(0, 0, 0, 1))
    drop-shadow(-2px 2px 0px rgba(0, 0, 0, 1))
    drop-shadow(15px -4px 0px rgba(0, 0, 0, 1))
    drop-shadow(15px -4px 0px rgba(255, 255, 255, 1));
  left: 20%;
  top: -7%;
  animation: 30s ease-in-out 1s infinite alternate dance;
}

.icon {
  fill: var(--grey-550);
  width: 3rem;
  position: relative;
  place-self: center;
  transform: translateY(250%);
}

.eventDate {
  font-size: 1.2rem;
  color: var(--grey-650);
}

.eventTitle {
  font-size: 2.4rem;
  margin-top: -0.3rem;
  margin-bottom: 0.2rem;
  a {
    color: var(--grey-900);
  }
}

.eventSummary {
  font-size: 1.5rem;
  color: var(--grey-500);
  line-height: 1.3;
}
