.content {
  width: 710px;
  margin-top: 14rem;
}

.events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

@keyframes dance {
  from {
    transform: translate(-50px) rotate(-10deg);
  }
  to {
    transform: translate(50px) rotate(10deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes tree {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(120%);
  }
}

@keyframes whale {
  from {
    transform: scale(-1, 1) rotate(0deg);
  }
  to {
    transform: scale(-1.1, 1.1) rotate(20deg);
  }
}

.dance,
.head,
.globe,
.tree,
.whale {
  position: absolute;
}

.dance {
  top: -7%;
  left: 20%;
  width: 400px;
  filter:
    drop-shadow(-2px -2px 0 rgba(0, 0, 0, 100%))
    drop-shadow(-2px 2px 0 rgba(0, 0, 0, 100%))
    drop-shadow(15px -4px 0 rgba(0, 0, 0, 100%))
    drop-shadow(15px -4px 0 rgba(255, 255, 255, 100%));
  transform: translate(-50px) rotate(-10deg);
  animation: 30s ease-in-out infinite alternate dance;
}

.head {
  top: -10%;
  width: 200px;
  filter: drop-shadow(20px -20px 0 rgba(0, 0, 0, 100%));
  transform: rotate(0deg);
  animation: 300s linear infinite spin;
}

.globe {
  top: -8.5%;
  right: -13%;
  width: 330px;
  animation: 400s linear infinite reverse spin;
}

.tree {
  top: 5%;
  left: 20%;
  width: 400px;
  filter: brightness(1.3);
  animation: 20s linear infinite alternate tree;
}

.whale {
  right: 16%;
  bottom: -2%;
  width: 500px;
  transform: scale(-1, 1) rotate(0deg);
  animation: 40s ease-in-out infinite alternate whale;
}

.secretCircle {
  svg {
    z-index: 1;
    position: absolute;
    width: 420px;
    height: 420px;
    top: -30%;
    left: -30%;
    circle {
      stroke-width: 15;
      stroke-dasharray: 6%;
      fill: transparent;
      stroke: black;
    }
  }
}

.siteTriangle {
  display: grid;
  // display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  place-items: center;
  transform: rotate(25deg);
  bottom: -20%;
  right: -42%;
  svg {
    transform: scale(150%) translate(28px, 33px);
    polygon {
      transform: translateX(9px);
      stroke-width: 8px;
      fill: transparent;
      stroke: var(--grey-950);
    }
  }
}

.digitalCircle {
  svg {
    z-index: 1;
    position: absolute;
    width: 70%;
    top: -10;
    right: 130;
    transform: rotate(-55deg);
  }
}

.danceCircle {
  svg {
    position: absolute;
    width: 420px;
    height: 420px;
    top: -30%;
    left: 30%;
    circle {
      stroke-width: 15;
      stroke-dasharray: 6%;
      fill: transparent;
      stroke: black;
    }
  }
}

.event {
  margin-bottom: 2rem;
}

.image {
  position: relative;
  display: grid;
  aspect-ratio: 1 / 1;
  margin-bottom: 1.6rem;
  overflow: hidden;
  background-color: var(--background);
  border: 2px solid var(--grey-850);
}

.icon {
  display: flex;
  place-items: center;
  width: 48px;
  height: 48px;
  margin-right: 1rem;
  background-color: var(--grey-650);
  border-radius: 100%;
  transition: background-color 0.3s ease-in-out;
  svg {
    width: 50%;
    margin: auto;
    fill: var(--grey-000);
  }
  &:hover {
    background-color: var(--grey-750);
    transition: background-color 0.3s ease-in-out;
  }
}

.date {
  font-size: 1.1rem;
  color: var(--grey-650);
}

.h2 {
  margin-top: -0.8rem;
  margin-bottom: 0.2rem;
  font-size: 2.1rem;
  a {
    color: var(--grey-900);
  }
}

.summary {
  margin-top: 0.6rem;
  font-size: 1.5rem;
  line-height: 1.3;
  color: var(--grey-500);
}

