@use 'styles/base/breakpoints' as b;

.event {
  max-width: 710px;
  margin-inline: auto;
  margin-bottom: 2rem;
  @include b.mq(lg) {
    max-width: unset;
    margin-inline: unset;
  }
  time {
    font-size: 1.1rem;
    text-transform: uppercase;
    @include b.mq(md) {
      display: block;
      padding: 0;
      font-size: 1.2rem;
    }
  }
}

.icon {
  display: flex;
  place-items: center;
  width: 40px;
  height: 40px;
  margin-right: 0.8rem;
  background-color: var(--grey-650);
  border-radius: 100%;
  transition: background-color 0.3s ease-in-out;
  @include b.mq(md) {
    width: 52px;
    height: 52px;
    margin-right: 1.2rem;
  }
  svg {
    width: 50%;
    margin: auto;
    fill: var(--grey-000);
  }
  &:hover {
    background-color: var(--grey-800);
    transition: background-color 0.3s ease-in-out;
  }
}

.heading {
  margin-block: -0.3rem 0.8rem;
  font-size: 1.6rem;
  @include b.mq(md) {
    margin-block: -0.3rem 0.8rem;
    font-size: 2.3rem;
  }
  a {
    color: var(--grey-750);
    text-decoration-line: none;
    &:hover {
      color: var(--grey-900);
    }
  }
}

.summary {
  font-size: 1.3rem;
  @include b.mq(md) {
    font-size: 1.4rem;
  }
}
