@use '/styles/base/breakpoints' as b;

.hero {
  position: relative;
  height: unset;
  aspect-ratio: 1 / 1;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: var(--background);
  border-bottom: 1px solid var(--pattern);
  -ms-overflow-style: none;
  scrollbar-width: none;
  @include b.mq(md) {
    height: unset;
    aspect-ratio: 3 / 1;
    margin-bottom: 0;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  @media only screen and (min-width: 1504px) {
    height: 504px;
    aspect-ratio: unset;
    overflow-x: hidden;
  }
}

.heroContent {
  position: relative;
  display: grid;
  place-items: unset;
  width: 100vw;
  max-width: 1504px;
  height: 100%;
  margin-inline: auto;
  margin-bottom: 0;
  @include b.mq(md) {
    place-items: center;
  }
}

@keyframes dance {
  from {
    transform: translate(-50px) rotate(-10deg);
  }
  to {
    transform: translate(50px) rotate(10deg);
  }
}

@keyframes statue {
  0% {
    transform: translate(0) rotate(0deg);
  }
  33% {
    transform: translate(50px) rotate(10deg);
  }
  66% {
    transform: translate(-50px) rotate(-10deg);
  }
  100% {
    transform: translate(0) rotate(0deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(-110deg);
  }
  to {
    transform: rotate(-470deg);
  }
}

@keyframes tree {
  from {
    transform: scale(120%);
  }
  to {
    transform: scale(100%);
  }
}

@keyframes tree1 {
  from {
    transform: scale(90%);
  }
  to {
    transform: scale(110%);
  }
}

@keyframes whale {
  from {
    transform: scale(-1, 1) rotate(10deg);
  }
  to {
    transform: scale(-1.1, 1.1) rotate(15deg);
  }
}

@keyframes hand {
  from {
    transform: scale(1, 1) rotate(0deg);
  }
  to {
    transform: scale(1.1, 1.1) rotate(-10deg);
  }
}

.dance,
.globe,
.hand,
.head,
.map,
.map1,
.statue,
.tree,
.tree2,
.whale {
  position: absolute;
  user-select: none;
}

.dance {
  top: -7%;
  left: 20%;
  width: 105.6%;
  filter:
    drop-shadow(-2px -2px 0 rgba(0, 0, 0, 90%))
    drop-shadow(-2px 2px 0 rgba(0, 0, 0, 90%))
    drop-shadow(15px -4px 0 rgba(0, 0, 0, 90%))
    drop-shadow(15px -4px 0 rgba(255, 255, 255, 100%));
  transform: translate(-50px) rotate(-10deg);
  animation: 30s ease-in-out infinite alternate dance;
  @include b.mq(md) {
    top: 0%;
    right: -10%;
    left: unset;
    width: 40%;
    filter:
      drop-shadow(-2px -2px 0 rgba(0, 0, 0, 90%))
      drop-shadow(-2px 2px 0 rgba(0, 0, 0, 90%))
      drop-shadow(30px -10px 0 rgba(0, 0, 0, 90%))
      drop-shadow(30px -10px 0 rgba(255, 255, 255, 100%));
  }
}

.globe {
  top: -8.5%;
  right: -13%;
  width: 87.1%;
  animation: 400s linear infinite reverse spin;
  @include b.mq(md) {
    display: none;
  }
}

.head {
  top: -10%;
  width: 52.8%;
  filter: drop-shadow(20px -20px 0 rgba(0, 0, 0, 90%));
  animation: 300s linear infinite spin;
  @include b.mq(md) {
    top: -2%;
    left: 5%;
    width: 16%;
    filter: drop-shadow(20px -20px 0 rgba(0, 0, 0, 90%));
    transform: rotate(-110deg);
  }
}

.hand {
  top: 10%;
  right: 0%;
  display: none;
  width: 33%;
  animation: 40s ease-in-out infinite alternate hand;
  @include b.mq(md) {
    display: block;
  }
}

.map {
  top: -1%;
  right: -1%;
  display: none;
  width: 29%;
  @include b.mq(md) {
    display: block;
  }
}

.map1 {
  bottom: -3%;
  left: -1%;
  display: none;
  width: 29%;
  @include b.mq(md) {
    display: block;
  }
}

.statue {
  top: 0;
  right: 1%;
  display: none;
  width: 36%;
  filter:
    drop-shadow(20px -20px 0 rgba(0, 0, 0, 90%))
    brightness(1.2)
    contrast(80%);
  transform: translate(0) rotate(0deg);
  animation: 100s ease-in-out infinite alternate statue;
  @include b.mq(md) {
    display: block;
  }
}

.tree {
  top: 5%;
  left: 20%;
  width: 105.6%;
  filter: brightness(1.3);
  animation: 20s linear infinite alternate tree;
  @include b.mq(md) {
    top: 5%;
    right: -5%;
    left: unset;
    width: 27%;
    transform: scale(120%);
  }
}

.tree2 {
  bottom: 0%;
  left: -7%;
  display: none;
  width: 30%;
  filter: brightness(1.3);
  transform: scale(90%);
  animation: 25s linear infinite alternate tree1;
  @include b.mq(md) {
    display: block;
  }
}

.whale {
  right: 16%;
  bottom: -2%;
  width: 132%;
  transform: scale(-1, 1) rotate(10deg);
  animation: 40s ease-in-out infinite alternate whale;
  @include b.mq(md) {
    bottom: -10%;
    left: -5%;
    width: 40%;
  }
}

.secretCircle,
.siteTriangle,
.siteCircle,
.siteSquare,
.digitalCircle,
.digitalCircle1,
.digitalTriangle,
.danceCircle,
.danceSquare,
.danceTriangle {
  position: absolute;
  user-select: none;
}

.secretCircle {
  top: -91%;
  left: -91%;
  width: 241%;
  @include b.mq(md) {
    display: none;
  }
  svg {
    circle {
      fill: transparent;
      stroke: var(--grey-900);
      stroke-dasharray: 3%;
      stroke-width: 7px;
    }
  }
}

.siteTriangle {
  right: 4.5%;
  bottom: -10%;
  z-index: 1;
  display: grid;
  place-items: center;
  width: 89%;
  transform: rotate(25deg);
  @include b.mq(md) {
    right: 1%;
    bottom: 8%;
    width: 14.5%;
  }
  svg {
    polygon {
      fill: transparent;
      stroke: var(--grey-900);
      stroke-width: 8px;
      transform: translateX(9%);
      @include b.mq(md) {
        stroke: var(--grey-750);
        transform: translateX(5%);
      }
    }
  }
}

.siteCircle {
  top: -12%;
  right: 8%;
  z-index: 1;
  display: none;
  place-items: center;
  width: 26.5%;
  @include b.mq(md) {
    display: grid;
  }
  svg {
    circle {
      fill: transparent;
      stroke: var(--grey-750);
      stroke-width: 8px;
    }
  }
}

.siteSquare {
  bottom: 5%;
  left: 6%;
  z-index: 1;
  display: none;
  place-items: center;
  width: 13.3%;
  transform: rotate(-30deg);
  @include b.mq(md) {
    display: grid;
  }
  svg {
    rect {
      fill: transparent;
      stroke: var(--grey-750);
      stroke-width: 8px;
    }
  }
}

.digitalCircle {
  top: 15%;
  left: 0;
  z-index: 1;
  width: 70%;
  @include b.mq(md) {
    top: 5%;
    left: 10%;
    width: 17%;
  }
  svg {
    transform: rotate(-55deg);
    @include b.mq(md) {
      transform: rotate(45deg);
    }
    rect {
      fill: var(--grey-900);
      @include b.mq(md) {
        fill: var(--grey-800);
      }
    }
  }
}

.digitalCircle1 {
  right: 6%;
  bottom: 5%;
  z-index: 1;
  display: none;
  width: 13%;
  @include b.mq(md) {
    display: block;
  }
  svg {
    transform: rotate(-55deg);
    rect {
      fill: var(--grey-800);
    }
  }
}

.digitalTriangle {
  top: 10%;
  right: 15%;
  z-index: 1;
  display: none;
  place-items: center;
  width: 13%;
  transform: rotate(240deg);
  @include b.mq(md) {
    display: grid;
  }
  svg {
    rect {
      fill: var(--grey-800);
    }
  }
}

.danceCircle {
  top: -45%;
  right: -50%;
  width: 158%;
  @include b.mq(md) {
    top: -25%;
    right: -5%;
    z-index: 1;
    width: 33.5%;
  }
  svg {
    circle {
      fill: transparent;
      stroke: var(--grey-900);
      stroke-dasharray: 4%;
      stroke-width: 12px;
      @include b.mq(md) {
        stroke: var(--grey-950);
        stroke-dasharray: 10% 5%;
        stroke-width: 10;
      }
    }
  }
}

.danceTriangle {
  bottom: -25%;
  left: 8%;
  z-index: 1;
  display: none;
  place-items: center;
  width: 29.5%;
  transform: rotate(22.5deg);
  @include b.mq(md) {
    display: grid;
  }
  svg {
    polygon {
      fill: transparent;
      stroke: var(--grey-950);
      stroke-dasharray: 14% 5%;
      stroke-width: 10;
      transform: translateX(9px);
    }
  }
}

.danceSquare {
  top: -25%;
  left: 0%;
  z-index: 1;
  display: none;
  width: 26.5%;
  transform: rotate(-36deg);
  @include b.mq(md) {
    display: block;
  }
  svg {
    rect {
      fill: transparent;
      stroke: var(--grey-950);
      stroke-dasharray: 13% 5%;
      stroke-width: 10;
    }
  }
}

.title {
  position: relative;
  display: none;
  padding: 0 9rem;
  font-size: 4.5rem;
  font-size: 4.5vw;
  font-size: clamp(1rem, 4.5vw, 4.5rem);
  font-weight: 700;
  line-height: 1.1;
  color: var(--grey-750);
  text-align: center;
  user-select: none;
  @include b.mq(md) {
    display: block;
  }
}

.icon {
  display: none;
  width: 1.7rem;
  width: clamp(1rem, 2.65vw, 2.5rem);
  margin-inline: auto;
  margin-bottom: 2.5rem;
  margin-bottom: 2.5vw;
  user-select: none;
  @include b.mq(md) {
    display: block;
  }
  svg {
    fill: var(--grey-750);
  }
}

.event {
  grid-template-columns: 1fr;
  @include b.mq(lg) {
    grid-template-columns: 3fr 1fr;
  }
}

.content {
  max-width: 750px;
  margin-block: 7rem 1rem;
  margin-inline: 0;
  @include b.mq(md) {
    margin-block: 7rem 1rem;
    margin-inline: auto;
  }
  @include b.mq(lg) {
    margin-block: 7rem 1rem;
    margin-inline: 0 2rem;
  }
  blockquote {
    padding: 0.9rem 1.1rem 0.7rem;
    margin-bottom: 4rem;
    font-size: 1.3rem;
    line-height: 1.3;
    background-color: var(--background);
    border: 1px solid var(--pattern);
    border-radius: 4px;
    @include b.mq(md) {
      padding: 1.2rem 1.7rem;
      font-size: 1.5rem;
    }
  }
  h2 {
    margin-bottom: 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--grey-550);
  }
  h3 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--grey-700);
  }
  ul {
    padding: 0 1.2rem 3rem;
    font-size: 1.3rem;
    list-style-position: outside;
    list-style-type: '—';
    @include b.mq(md) {
      padding: 0 2.7rem 3rem;
      font-size: 1.5rem;
      list-style-type: '⸺';
    }
    li {
      padding: 0 0 1.5rem 0.5rem;
    }
  }
}

.h1 {
  margin-top: -4rem;
  margin-bottom: 0.5rem;
  font-size: 4rem;
  color: var(--grey-850);
  @include b.mq(md) {
    margin-top: unset;
    font-size: 4.8rem;
  }
}

.h3 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--grey-700);
}

.britelink {
  place-items: center;
  margin-block: 0 5.5rem;
}

.btn {
  padding: 1.6rem 1.6rem 1rem;
  margin-inline: auto;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--grey-750);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--background);
  border: 1px solid var(--pattern);
  border-radius: 4px;
  transition: 0.3s background-color ease-in-out;
  a {
    text-decoration-thickness: 0;
    text-decoration-color: transparent;
  }
  &:hover {
    background-color: var(--btn-hover);
    transition: 0.3s background-color ease-in-out;
  }
}

.hr {
  display: initial;
  @include b.mq(lg) {
    display: none;
  }
}
