@use '/styles/base/breakpoints' as b;

@keyframes head {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes whale {
  from {
    transform: scale(-1, 1) rotate(0deg);
  }
  to {
    transform: scale(-1.1, 1.1) rotate(20deg);
  }
}

@keyframes dance {
  from {
    transform: translate(-50px) rotate(-10deg);
  }
  to {
    transform: translate(50px) rotate(10deg);
  }
}

@keyframes tree {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(120%);
  }
}

.events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 4rem;
  gap: 2rem;
}

.eventsContent {
  margin-top: 14rem;
  width: 710px;
}

.event {
  margin-bottom: 2rem;
}

.eventImage {
  border: 2px solid var(--grey-900);
  background-color: var(--background);
  aspect-ratio: 1 / 1;
  margin-bottom: 1.3rem;
  position: relative;
  overflow: hidden;
  display: grid;
}

.head {
  width: 200px;
  transform: rotate(0deg);
  filter: drop-shadow(20px -20px 0px rgba(0, 0, 0, 1));
  top: -10%;
  animation: 300s linear infinite head;
}

.whale {
  width: 500px;
  transform: scale(-1, 1) rotate(0deg);
  right: 16%;
  bottom: -2%;
  animation: 40s ease-in-out infinite alternate whale;
}

.globe {
  width: 330px;
  right: -13%;
  top: -8.5%;
  animation: 400s linear infinite reverse head;
}

.tree {
  width: 400px;
  left: 20%;
  top: 5%;
  filter: brightness(1.3);
  animation: 20s linear infinite alternate tree;
}

.dance {
  width: 400px;
  transform: translate(-50px) rotate(-10deg);
  filter:
    drop-shadow(-2px -2px 0px rgba(0, 0, 0, 1))
    drop-shadow(-2px 2px 0px rgba(0, 0, 0, 1))
    drop-shadow(15px -4px 0px rgba(0, 0, 0, 1))
    drop-shadow(15px -4px 0px rgba(255, 255, 255, 1));
  left: 20%;
  top: -7%;
  animation: 30s ease-in-out infinite alternate dance;
}

.icon {
  display: flex;
  height: 57px;
  width: 57px;
  background-color: var(--grey-900);
  margin-right: 0.7rem;
  border-radius: 100%;
  place-items: center;
  svg {
    width: 50%;
    margin: auto;
    fill: var(--background);
  }
}

.eventDate {
  font-size: 1.2rem;
  color: var(--grey-650);
}

.eventTitle {
  font-size: 2.1rem;
  margin-top: -0.3rem;
  margin-bottom: 0.2rem;
  a {
    color: var(--grey-900);
  }
}

.eventSummary {
  font-size: 1.5rem;
  color: var(--grey-500);
  line-height: 1.3;
}
