.event {
  grid-template-columns: 3fr 1fr;
}

.hero {
  margin-bottom: 0rem;
  width: 100vw;
  aspect-ratio: 3 / 1;
  background-color: var(--background);
  display: grid;
  place-items: center;
  position: relative;
}

.heroText {
  color: var(--grey-550);
  // color: transparent;
  padding: 0 9rem;
  font-weight: 700;
  // font-size: 7rem;
  font-size: 5rem;
  text-align: center;
  // line-height: 1;
  line-height: 1.2;
  position: relative;
  // -webkit-text-stroke: 0px var(--grey-750);
  // background: linear-gradient(45deg, rgba(232,75,248,1) 0%, rgba(248,190,80,1) 75%, rgba(253,237,95,1) 100%);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  em {
    font-style: normal;
    // background-image: url("/images/em-heading.svg");
    // background-size: 107%;
    // background-position: center;
    // background-repeat: no-repeat;
  }
}

.eventContent {
  width: 750px;
  margin-block: 7rem 5rem;
  margin-right: 2rem;
  h1 {
    color: var(--grey-750);
    font-size: 4.8rem;
    margin-bottom: 0.5rem;
  }
  h2 {
    color: var(--grey-550);
    font-size: 1.6rem;
    margin-bottom: 3.5rem;
    font-weight: 500;
  }
  h3 {
    color: var(--grey-600);
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
  ul {
    padding: 0 1rem 2rem;
    list-style-type: "–";
    list-style-position: outside;
    // list-style-image: url('/images/arrow1.svg');
    li {
      padding: 0.2rem 0 0 1rem;
    }
  }
  strong {
    color: var(--grey-600);
  }
}

