@use 'foundation/colors';
@use 'foundation/typography';
@use 'foundation/breakpoints' as b;

// * {
//   box-sizing: border-box;
//   margin: 0;
//   &::before,
//   &::after {
//     box-sizing: border-box;
//   }
// }

::selection {
  background-color: var(--grey-250);
}

html {
  overflow-y: scroll;
  font-size: 62.5%;
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  overflow: hidden;
  font-family: var(--serif);
  font-size: 2rem;
  line-height: 1.5;
  color: var(--foreground);
  background-color: var(--background);
  // height: 500vh;
}

section {
  position: relative;
}

p a {
  color: var(--grey-950);
  // background: #f5f1f2;
  text-decoration: none;
  border-bottom: 1px solid rgba(89, 222, 223, 0.5);
  box-shadow: inset 0 -3px 0 rgba(89, 222, 223, 0.5);
  transition: all 0.4s ease-out;
  // text-decoration: underline;
  // text-decoration-thickness: 1px;
  // text-underline-offset: 2px;
  // &:hover {
  //   background: rgba(89, 222, 223, 0.5);
  // }
}

h1 {
  font-family: var(--serif);
  font-size: 12rem;
  font-weight: 800;
  line-height: 1.1;
  // color: var(--background);
  // color: rgb(222, 122, 189);
  color: rgb(255, 155, 89);
  // color: rgb(89, 222, 223);
  // -webkit-text-stroke: 2px var(--foreground);
  margin-top: 4rem;
  margin-bottom: 3rem;
  @include b.mq(lg) {
    font-size: 2.2rem;
  }
  @include b.mq(md) {
    font-size: 1.7rem;
  }
  @include b.mq(sm) {
    font-size: 2.2rem;
  }
}

h2 {
  font-family: var(--serif);
  font-size: 4rem;
  line-height: 1.2;
  color: var(--foreground);
  font-weight: 600;
  margin-bottom: 0.3em;
  @include b.mq(xl) {
    font-size: 3.6rem;
  }
  @include b.mq(md) {
    font-size: 3.1rem;
  }
  @include b.mq(sm) {
    font-size: 2.4rem;
  }
  @include b.mq(xs) {
    font-size: 2.2rem;
  }
}

h3 {
  margin-bottom: 0.25em;
  font-family: var(--sans);
  font-size: 7.9rem;
  line-height: 0.7;
}

h4 {
  font-family: var(--sans);
  font-size: 2.2rem;
  @include b.mq(sm) {
    font-size: 4.1vw;
  }
}

p {
  margin-bottom: 1.8rem;
  font-size: 2rem;
  @include b.mq(lg) {
    font-size: 1.8rem;
  }
  @include b.mq(sm) {
    font-size: 1.6rem;
  }
}

small {
  font-family: var(--sans);
  font-size: 85%;
  color: var(--grey-950);
}

sup {
  font-size: 60%;
}

blockquote {
  position: relative;
  margin-bottom: 1em;
  font-size: 2rem;
  @include b.mq(lg) {
    font-size: 1.8rem;
  }
  @include b.mq(sm) {
    font-size: 1.6rem;
  }
}

cite {
  display: inline-block;
  font-family: var(--sans);
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.4;
  @include b.mq(lg) {
    font-size: 1.4rem;
  }
  @include b.mq(sm) {
    font-size: 1.3rem;
  }
}

form {
  margin-bottom: 1.8em;
}
