.hero {
  position: relative;
  display: grid;
  place-items: center;
  width: 100vw;
  aspect-ratio: 3 / 1;
  margin-bottom: 7rem;
  background-color: var(--background);
  border-bottom: 1px solid var(--pattern);
}

.heroText {
  position: relative;
  padding: 0 9rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.25;
  color: var(--grey-550);
  text-align: center;
  em {
    font-style: normal;
    background-image: url('/images/em-heading.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 107%;
  }
}

.highlight {
  position: absolute;
  top: 18.5rem;
  width: 57%;
}

.indexContent,
.indexEngagement {
  width: 700px;
}

.indexEngagement {
  margin-inline: auto;
  margin-bottom: 4rem;
}

.engagement {
  grid-template-columns: repeat(4, 1fr);
}

.engagementFigures {
  margin-bottom: 3rem;
  text-align: center;
  figure {
    margin-bottom: 1.2rem;
    font-size: 5rem;
    font-weight: 700;
    color: var(--grey-750);
  }
}
