@use '/styles/base/breakpoints' as b;

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  height: unset;
  aspect-ratio: 1 / 1;
  margin-bottom: 3rem;
  background-color: var(--background);
  border-bottom: 1px solid var(--pattern);
  @include b.mq(md) {
    height: unset;
    aspect-ratio: 3 / 1;
    margin-bottom: 7rem;
  }
  @media only screen and (min-width: 1504px) {
    height: 504px;
    aspect-ratio: unset;
  }
}

.heroText {
  position: relative;
  max-width: 1504px;
  padding: 0;
  margin: auto;
  font-size: 4rem;
  font-size: clamp(1.8rem, 8.5vw, 4rem);
  font-weight: 700;
  line-height: 1.25;
  color: var(--grey-550);
  text-align: center;
  @include b.mq(md) {
    padding: 0 4rem;
    font-size: clamp(1.8rem, 6vw, 3.8rem);
  }
  @include b.mq(lg) {
    padding: 0 9rem;
    font-size: clamp(1.8rem, 5.1vw, 5rem);
  }
  em {
    font-style: normal;
    background-image: url('/images/em-heading.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 107%;
  }
}

.indexContent,
.indexEngagement {
  max-width: 710px;
}

.indexEngagement {
  margin-inline: unset;
  margin-bottom: 4rem;
  @include b.mq(md) {
    margin-inline: auto;
  }
}

.engagement {
  grid-template-columns: repeat(1, 1fr);
  @include b.mq(md) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.engagementFigures {
  margin-bottom: 1.7rem;
  text-align: center;
  @include b.mq(md) {
    margin-bottom: 3rem;
  }
}

.number {
  margin-bottom: 0.7rem;
  font-size: 4rem;
  font-weight: 700;
  color: var(--grey-750);
  @include b.mq(md) {
    margin-bottom: 1.2rem;
  }
  @include b.mq(lg) {
    font-size: 5rem;
  }
}

.h3 {
  font-size: 1.2rem;
  @include b.mq(md) {
    font-size: 1.1rem;
  }
  @include b.mq(lg) {
    font-size: 1.2rem;
  }
}
