@use '/styles/base/breakpoints' as b;

.keystage {
  grid-template-columns: 1fr;
  @include b.mq(lg) {
    grid-template-columns: 3fr 1fr;
  }
}

.content {
  margin-top: 4rem;
  margin-right: 0;
  @include b.mq(md) {
    margin-right: 2rem;
    margin-top: 7rem;
  }
}

.h1 {
  max-width: 710px;
  margin-bottom: 3rem;
  font-size: 3rem;
  margin-inline: auto;
  color: var(--grey-650);
  @include b.mq(md) {
    font-size: 3.4rem;
  }
  @include b.mq(lg) {
    margin-inline: unset;
    max-width: unset;
  }
}

.h2 {
  max-width: 710px;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--grey-650);
  margin-inline: auto;
  @include b.mq(md) {
    margin-bottom: 1rem;
    font-size: 2.1rem;
  }
  @include b.mq(lg) {
    margin-inline: unset;
    max-width: unset;
  }
}

.body {
  max-width: 710px;
  margin-bottom: 4rem;
  margin-inline: auto;
  @include b.mq(lg) {
    margin-inline: unset;
  }
}

.hr {
  display: initial;
  @include b.mq(lg) {
    display: none;
  }
}
