@use '/styles/base/breakpoints' as b;

.header {
  position: fixed;
  inset: 0 0 auto;
  z-index: 10;
  padding-block: 1rem;
  background-color: var(--page-bg);
  box-shadow: 0 0 19px 0 rgba(0, 0, 0, 16%);
  a {
    color: var(--grey-700);
    text-decoration-line: none;
  }
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.navLeft,
.navRight {
  font-size: 1.5rem;
  a {
    color: var(--grey-500);
    transition: color 0.3s ease;
    &:hover,
    &:focus {
      color: var(--grey-750);
      transition: color 0.3s ease;
    }
  }
}

.navLeft {
  &:first-child {
    margin-right: 3rem;
  }
}

.navRight {
  &:last-child {
    margin-left: 3rem;
  }
}

.logo {
  width: 5rem;
  height: 5rem;
}

.logoText {
  display: inline-block;
  font-size: 2.2rem;
  &:first-child {
    border-bottom: 3px solid var(--grey-700);
  }
}

.active {
  a {
    color: var(--grey-750);
    cursor: default;
  }
}

.main {
  margin-top: 7rem;
}

.signUp {
  max-width: 800px;
  margin-inline: auto;
  margin-bottom: 5rem;
  p {
    font-size: 1.4rem;
  }
}

.signUpForm {
  position: relative;
  margin-block: 1rem 2.5rem;
}

.signUpInput {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--grey-750);
  border-bottom: 3px solid var(--grey-750);
}

.signUpSend {
  position: absolute;
  right: 0.7%;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--grey-450);
  transition: color 0.3s ease-in-out;
  &:hover,
  &:focus {
    color: var(--grey-750);
    transition: color 0.3s ease-in-out;
  }
}

.logos {
  justify-content: center;
  margin-block: 4rem 5rem;
  gap: 2rem 4rem;
  flex-wrap: wrap;
  @include b.mq(md) {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2rem;
    margin-block: 4rem 5rem;
  }
}

.acwLogo,
.lotteryLogo,
.wgLogo,
.wlgaLogo {
  fill: var(--grey-600);
}

.socialLinks {
  justify-content: space-around;
  margin-bottom: 7rem;
}

.socialLinksMenu {
  gap: 2rem;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  a {
    color: var(--grey-650);
    text-decoration-line: none;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      color: var(--grey-750);
      opacity: 0.8;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.socialIcon {
  display: flex;
  place-items: center;
  width: 55px;
  height: 55px;
  background-color: var(--grey-550);
  border-radius: 100%;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: var(--grey-650);
    transition: background-color 0.3s ease-in-out;
  }
  svg {
    height: 50%;
    margin: auto;
    fill: var(--grey-000);
  }
}

.footer {
  justify-content: space-between;
  margin-block: 2rem;
  line-height: 1.3;
  a {
    color: var(--grey-650);
    text-decoration-line: none;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: var(--grey-750);
      transition: color 0.3s ease-in-out;
    }
  }
  div:last-child {
    text-align: right;
  }
}

.footerContent {
  display: inline-block;
  margin-bottom: 0.3rem;
}

.brandMd {
  display: none;
  @include b.mq(sm) {
    display: inline;
  }
}

.brandSm {
  display: inline;
  @include b.mq(sm) {
    display: none;
  }
}
