.dots {
  background-image:
    radial-gradient(var(--pattern) 12%, transparent 12%),
    radial-gradient(var(--pattern) 12%, transparent 12%);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

.circles {
  background-image:
    radial-gradient(var(--pattern) 9%, transparent 9%),
    radial-gradient(var(--pattern) 9%, transparent 9%);
  background-position: center;
  // background-position: 0 0, 16px 16px;
  background-size: 32px 32px;
}

.lines {
  background-image:
    linear-gradient(0deg,
    transparent 49%,
    var(--pattern) 49%,
    var(--pattern) 50%,
    transparent 50%,
    transparent 99%,
    var(--pattern) 99%,
    var(--pattern) 100%);
  background-position: center;
  background-size: 62px 62px;
}

.linesVertical {
  background-image:
    linear-gradient(90deg,
    transparent 49%,
    var(--pattern) 49%,
    var(--pattern) 50%,
    transparent 50%,
    transparent 99%,
    var(--pattern) 99%,
    var(--pattern) 100%);
  background-position: center;
  background-size: 62px 62px;
}

.linesDiagonal {
  background-image:
    linear-gradient(45deg,
    transparent 49%,
    var(--pattern) 49%,
    var(--pattern) 50%,
    transparent 50%,
    transparent 99%,
    var(--pattern) 99%,
    var(--pattern) 100%);
  background-position: center;
  background-size: 31px 31px;
}

.squares {
  background-image:
    linear-gradient(0deg,
    transparent 49%,
    var(--pattern) 49%,
    var(--pattern) 50%,
    transparent 50%,
    transparent 99%,
    var(--pattern) 99%,
    var(--pattern) 100%),
    linear-gradient(90deg,
    transparent 49%,
    var(--pattern) 49%,
    var(--pattern) 50%,
    transparent 50%,
    transparent 99%,
    var(--pattern) 99%,
    var(--pattern) 100%);
  background-position: center;
  background-size: 62px 62px;
}

.cubes {
  background-image:
    linear-gradient(0deg,
    transparent 49.5%,
    var(--pattern) 49.5%,
    var(--pattern) 50%,
    transparent 50%,
    transparent 99.5%,
    var(--pattern) 99.5%,
    var(--pattern) 100%),
    linear-gradient(90deg,
    transparent 49.5%,
    var(--pattern) 49.5%,
    var(--pattern) 50%,
    transparent 50%,
    transparent 99.5%,
    var(--pattern) 99.5%,
    var(--pattern) 100%);
  background-position: center;
  background-size: 120px 120px;
}

.diagonal {
  background-image:
    linear-gradient(45deg,
    transparent 49%,
    var(--pattern) 49%,
    var(--pattern) 50%,
    transparent 50%,
    transparent 99%,
    var(--pattern) 99%,
    var(--pattern) 100%),
    linear-gradient(-45deg,
    transparent 49%,
    var(--pattern) 49%,
    var(--pattern) 50%,
    transparent 50%,
    transparent 99%,
    var(--pattern) 99%,
    var(--pattern) 100%);
  background-position: center;
  background-size: 21px 21px;
}

.textbook {
  background-image:
    linear-gradient(var(--pattern) 2px, transparent 2px),
    linear-gradient(90deg, var(--pattern) 2px, transparent 2px),
    linear-gradient(var(--pattern) 1px, transparent 1px),
    linear-gradient(90deg, var(--pattern) 1px, transparent 1px);
  background-position: center;
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  opacity: 0.8;
}

.target {
  background-image:
    repeating-radial-gradient(var(--pattern),
    1px,
    transparent 30px);
  // opacity: 0.8;
}

.repeatingCircles {
  background-image:
    repeating-radial-gradient(var(--pattern) 0 0.2%, transparent 0.2% 2%);
    // background-position: center;
    // background-size: 410px 410px;
}

.radial {
  background-image:
    radial-gradient(transparent 21%, var(--pattern) 21% 24%, transparent 26%);
    background-position: center;
    background-size: 21px 21px;
}

.zigzag {
  background-image:
    linear-gradient(135deg, var(--pattern) 25%, transparent 25%),
    linear-gradient(225deg, var(--pattern) 25%, transparent 25%),
    linear-gradient(45deg, var(--pattern) 25%, transparent 25%),
    linear-gradient(315deg, var(--pattern) 25%, transparent 25%);
  background-position: 20px 0, 20px 0, 0 0, 0 0;
  background-size: 40px 80px;
  // opacity: 0.8;
}

.isometric {
  background-image: url('/images/isometric.svg');
  background-size: 60px;
  background-position: center;
}

.isometric3d {
  background-image:
    linear-gradient(30deg,
    var(--pattern) 12%,
    transparent 12.5%,
    transparent 87%,
    var(--pattern) 87.5%,
    var(--pattern)),
    linear-gradient(150deg,
    var(--pattern) 12%,
    transparent 12.5%,
    transparent 87%,
    var(--pattern) 87.5%,
    var(--pattern)),
    linear-gradient(30deg,
    var(--pattern) 12%,
    transparent 12.5%,
    transparent 87%,
    var(--pattern) 87.5%,
    var(--pattern)),
    linear-gradient(150deg,
    var(--pattern) 12%,
    transparent 12.5%,
    transparent 87%,
    var(--pattern) 87.5%,
    var(--pattern)),
    linear-gradient(60deg,
    var(--pattern-light) 25%,
    transparent 25.5%,
    transparent 75%,
    var(--pattern-light) 75%,
    var(--pattern-light)),
    linear-gradient(60deg,
    var(--pattern-light) 25%,
    transparent 25.5%,
    transparent 75%,
    var(--pattern-light) 75%,
    var(--pattern-light));
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
  background-size: 20px 35px;
  // opacity: 0.8;
}

.cross {
  background:
    radial-gradient(circle,
    transparent 20%,
    var(--background) 20%,
    var(--background) 80%,
    transparent 80%,
    transparent),
    radial-gradient(circle,
    transparent 20%,
    var(--background) 20%,
    var(--background) 80%,
    transparent 80%,
    transparent) 25px 25px,
    linear-gradient(var(--pattern) 1px, transparent 1px) 0 -1px,
    linear-gradient(90deg, var(--pattern) 1px, var(--background) 1px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
  // opacity: 0.8;
}
