@use '/styles/base/breakpoints' as b;

.sidebar {
  width: unset;
  max-width: 750px;
  margin-inline: unset;
  margin-top: 1rem;
  @include b.mq(md) {
    width: 100%;
    margin-inline: auto;
  }
  @include b.mq(lg) {
    width: 300px;
    margin-inline: unset;
    margin-top: 7rem;
  }
}

.heading {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--grey-750);
}

.header {
  time {
    display: block;
    padding: 0;
    margin-bottom: -2.3rem;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
}

.icon {
  display: flex;
  place-items: center;
  width: 40px;
  height: 40px;
  margin-right: 0.8rem;
  background-color: var(--grey-650);
  border-radius: 100%;
  transition: background-color 0.3s ease-in-out;
  svg {
    width: 50%;
    margin: auto;
    fill: var(--grey-000);
  }
  &:hover {
    background-color: var(--grey-800);
    transition: background-color 0.3s ease-in-out;
  }
}

.event {
  margin-bottom: 2.5rem;
  list-style-type: none;
}

.eventHeading {
  margin-bottom: 0.7rem;
  font-size: 1.6rem;
  a {
    color: var(--grey-750);
    text-decoration-line: none;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: var(--grey-900);
      transition: color 0.3s ease-in-out;
    }
  }
}

.summary {
  font-size: 1.3rem;
}
