.avatar {
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  margin-right: 2rem;
  background-color: var(--grey-650);
  filter: grayscale(0.25);
  border: 1px solid var(--grey-650);
  border-radius: 100%;
  transition: filter 0.3s ease-in-out;
  img {
    border-radius: 100%;
  }
  &:hover {
    filter: grayscale(0);
    transition: filter 0.3s ease-in-out;
  }
}

.initials {
  place-self: center;
  font-size: 2.2rem;
  color: var(--grey-000);
  text-align: center;
}

.heading {
  font-size: 1.9rem;
  font-weight: 600;
  a {
    color: var(--grey-600);
    transition: color 0.3s ease-in-out;
    &:hover {
      color: var(--grey-750);
      transition: color 0.3s ease-in-out;
    }
  }
}

.person {
  margin-bottom: 3rem;
}

.bio {
  font-size: 1.4rem;
}
