@use '/styles/base/breakpoints' as b;

.person {
  margin-bottom: 3rem;
  flex-direction: column;
  @include b.mq(md) {
    flex-direction: row;
  }
}

.avatar {
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  margin-inline: auto;
  margin-bottom: 1rem;
  background-color: var(--grey-650);
  filter: grayscale(0.25);
  border: 1px solid var(--grey-650);
  border-radius: 100%;
  transition: filter 0.3s ease-in-out;
  img {
    border-radius: 100%;
  }
  &:hover {
    filter: grayscale(0);
    transition: filter 0.3s ease-in-out;
  }
  @include b.mq(md) {
    margin-inline: 0 2rem;
    margin-bottom: 0;
  }
}

.initials {
  place-self: center;
  font-size: 2.2rem;
  color: var(--grey-000);
  text-align: center;
}

.heading {
  font-size: 1.9rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
  a {
    color: var(--grey-600);
    transition: color 0.3s ease-in-out;
    &:hover {
      color: var(--grey-750);
      transition: color 0.3s ease-in-out;
    }
  }
  @include b.mq(md) {
    margin-bottom: 0;
    text-align: left;
  }
}

.bio {
  font-size: 1.3rem;
  line-height: 1.2;
  text-align: center;
  @include b.mq(md) {
    font-size: 1.4rem;
    text-align: left;
    line-height: 1.3;
  }
}

.emailAddress {
  display: block;
  font-size: 1.3rem;
  color: var(--grey-550);
  text-decoration-thickness: 1.7px;
  transition: color 0.3s ease-in-out;
  margin-top: 0.5rem;
  text-align: center;
  &:hover {
    color: var(--grey-750);
    transition: color 0.3s ease-in-out;
  }
  @include b.mq(md) {
    font-size: 1.4rem;
    text-align: left;
    line-height: 1.3;
    margin-top: 0.1rem;
    text-align: left;
  }
}
