@use 'base/breakpoints' as b;

// Layout

.container {
  // padding: 1rem 2rem;
  max-width: 1200px;
  margin-inline: auto;
}

.inline {
  display: inline;
}


// Spacing

.py3 {
  padding-top: 0.75rem; /* 12px */
  padding-bottom: 0.75rem; /* 12px */
}

.mr3 {
  margin-right: 0.75rem; /* 12px */
}

.ml3 {
  margin-left: 0.75rem; /* 12px */
}

// Typograpy

.sans {
  font-family: var(--font-sans-serif);
}

.mono {
  font-family: var(--font-monospace);
}

.fontMedium {
  font-weight: 500;
}

.fontBold {
  font-weight: 700;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.noUnderline {
  text-decoration-line: none;
}

.uppercase {
  text-transform: uppercase;
}

// Backgrounds

.bgTransparent {
  background-color: transparent;
}

// Borders

.borderBottom2 {
  border-bottom-width: 2px;
}

.borderGrey900 {
  border-color: var(--grey-900)
}




// ---------------------------------------------

.hide {
  display: none;
}

.smHide {
  @include b.mq(sm) {
    display: none;
  }
}

.mdHide {
  @include b.mq(md) {
    display: none;
  }
}

.lgHide {
  @include b.mq(lg) {
    display: none;
  }
}

.smBlock {
  @include b.mq(sm) {
    display: block;
  }
}

.mdBlock {
  @include b.mq(md) {
    display: block;
  }
}

.lgBlock {
  @include b.mq(lg) {
    display: block;
  }
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.fAuto {
  flex: auto;
}

.fNone {
  flex: none;
}

.column {
  flex-direction: column;
}

.lgColumn {
  @include b.mq(lg) {
    flex-direction: column;
  }
}

.grid {
  display: grid;
}

.gapSmall {
  gap: 3rem;
  @include b.mq(md) {
    gap: 5rem;
  }
}

.gapLgNone {
  @include b.mq(lg) {
    gap: 0;
  }
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.cover {
  object-fit: cover;
}

.ofHidden {
  overflow: hidden;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.bgDark {
  background-color: var(--foreground);
}

.bgLight {
  background-color: var(--background);
}

.bgWhite {
  background-color: var(--white);
}

.fgDark {
  color: var(--foreground);
}

.fgLight {
  color: var(--background);
}

.fgWhite {
  color: var(--white);
}

.textDark {
  color: var(--foreground);
}

.border {
  border: var(--border);
}

.shadow {
  box-shadow: var(--shadow);
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.mlAuto {
  margin-left: auto;
}

.mrAuto {
  margin-right: auto;
}

.mtLarge {
  margin-top: 10rem;
  @include b.mq(xl) {
    margin-top: 7rem;
  }
  @include b.mq(sm) {
    margin-top: 6rem;
  }
}

.mtSmall {
  margin-top: 10rem;
  @include b.mq(xl) {
    margin-top: 7rem;
  }
  @include b.mq(sm) {
    margin-top: 6rem;
  }
}

.mtAuto {
  margin-top: auto;
}

.mbXl {
  margin-bottom: 15rem;
  @include b.mq(xl) {
    margin-bottom: 10rem;
  }
  @include b.mq(sm) {
    margin-bottom: 9rem;
  }
}

.mbLarge {
  margin-bottom: 10rem;
  @include b.mq(sm) {
    margin-bottom: 6rem;
  }
}

.mbMedium {
  margin-bottom: 5rem;
  @include b.mq(lg) {
    margin-bottom: 7rem;
  }
  @include b.mq(md) {
    margin-bottom: 7rem;
  }
  @include b.mq(sm) {
    margin-bottom: 7rem;
  }
}

.mbSmall {
  margin-bottom: 6rem;
  @include b.mq(md) {
    margin-bottom: 4rem;
  }
}

.pbSmall {
  padding-bottom: 1.5rem;
  @include b.mq(md) {
    padding-bottom: 1rem;
  }
  @include b.mq(sm) {
    padding-bottom: 0.7rem;
  }
}

.lineSpacer {
  height: 1rem;
}

.sans {
  font-family: var(--sans);
}

.serif {
  font-family: var(--serif);
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.textCenter {
  text-align: center;
}

.smTextLeft {
  @include b.mq(sm) {
    text-align: left;
  }
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.noUnderline {
  text-decoration-line: none;
}

.lh2 {
  line-height: 2;
}

.pointer {
  cursor: pointer;
}

.screenReaderText {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-wrap: normal !important;
  border: 0;
}

.screenReaderText:focus {
  top: 5px;
  left: 5px;
  z-index: 100000;
  display: block;
  width: auto;
  height: auto;
  padding: 15px 23px 14px;
  clip: auto !important;
  clip-path: none;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: normal;
  color: hsl(199, 65%, 37%);
  text-decoration: none;
  background-color: hsl(0, 0%, 95%);
  border-radius: 3px;
  box-shadow: 0 0 2px 2px hsla(0, 0%, 0%, 60%);
}
