@use 'base/breakpoints' as b;

// Layout

.container {
  // padding: 1rem 2rem;
  max-width: 1200px;
  margin-inline: auto;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inlineBlock {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

// Flexbox & Grid

.gridCols3 {
  grid-template-columns: repeat(3, 1fr);
}

.gap2 {
  gap: 0.5rem; /* 8px */
}

.gap4 {
  gap: 1rem; /* 8px */
}

.justifyCenter {
  justify-content: center;
}

.itemsCenter {
  align-items: center;
}

// Spacing

.py3 {
  padding-top: 0.75rem; /* 12px */
  padding-bottom: 0.75rem; /* 12px */
}

.mr6 {
  margin-right: 1.5rem; /* 12px */
}

.ml6 {
  margin-left: 1.5rem; /* 12px */
}

// Typograpy

.sans {
  font-family: var(--font-sans-serif);
}

.mono {
  font-family: var(--font-monospace);
}

.fontMedium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}


.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.noUnderline {
  text-decoration-line: none;
}

.uppercase {
  text-transform: uppercase;
}

// Backgrounds

.bgTransparent {
  background-color: transparent;
}

// Borders

.borderBottom2 {
  border-bottom-width: 2px;
}

.borderGrey900 {
  border-color: var(--grey-900)
}

// Accessibility

.screenReaderText {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-wrap: normal !important;
  border: 0;
}

.screenReaderText:focus {
  top: 5px;
  left: 5px;
  z-index: 100000;
  display: block;
  width: auto;
  height: auto;
  padding: 15px 23px 14px;
  clip: auto !important;
  clip-path: none;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: normal;
  color: hsl(199, 65%, 37%);
  text-decoration: none;
  background-color: hsl(0, 0%, 95%);
  border-radius: 3px;
  box-shadow: 0 0 2px 2px hsla(0, 0%, 0%, 60%);
}
