@use 'base/breakpoints' as b;

// Layout

.container {
  max-width: calc(1200px + 4rem);
  padding: 1rem 2rem;
  padding: 0 2rem;
  margin-inline: auto;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inlineBlock {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.gap4 {
  gap: 1rem;
}

.justifyCenter {
  justify-content: center;
}

.sans {
  font-family: var(--font-sans-serif);
}

.mono {
  font-family: var(--font-monospace);
}

.fontMedium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.noUnderline {
  text-decoration-line: none;
}

.uppercase {
  text-transform: uppercase;
}

.bgTransparent {
  background-color: transparent;
}

.pointer {
  cursor: pointer;
}

.horizontalList {
  display: inline;
  &:not(:last-child)::after {
    content: ', ';
  }
}

.emailAddress {
  font-size: 1.4rem;
  color: var(--grey-550);
  text-decoration-thickness: 1.7px;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: var(--grey-750);
    transition: color 0.3s ease-in-out;
  }
}

// Accessibility

.screenReaderText {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-wrap: normal !important;
  border: 0;
}

.screenReaderText:focus {
  top: 5px;
  left: 5px;
  z-index: 100000;
  display: block;
  width: auto;
  height: auto;
  padding: 15px 23px 14px;
  clip: auto !important;
  clip-path: none;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: normal;
  color: hsl(199, 65%, 37%);
  text-decoration: none;
  background-color: hsl(0, 0%, 95%);
  border-radius: 3px;
  box-shadow: 0 0 2px 2px hsla(0, 0%, 0%, 60%);
}
