@use 'breakpoints' as b;

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-sans-serif);
  font-size: 125%;
  font-weight: 500;
  color: var(--grey-550);
  background: var(--page-bg);
}

p {
  position: relative;
  margin-bottom: 0.9em;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.3;
  @include b.mq(md) {
    font-size: 1.5rem;
    line-height: 1.3;
  }
  a {
    font-style: normal;
    color: var(--grey-750);
    opacity: 0.73;
    text-decoration-line: none;
    background-image: url('/images/highlight-stroke.svg');
    background-repeat: repeat;
    background-position: center;
    background-size: 90px 110%;
    transition: opacity 0.3s ease-in-out;
    @include b.mq(md) {
      background-size: 100px 100%;
    }
    &:hover {
      opacity: 1;
      // color: var(--grey-750);
      transition: opacity 0.3s ease-in-out;
      background-opacity: 0;
    }
  }
}

ul {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
}

h2 {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--grey-750);
  @include b.mq(md) {
    font-size: 3rem;
    line-height: 1.3;
  }
}

strong {
  font-weight: 600;
}

button {
  font-weight: 500;
  color: var(--grey-550);
  background: transparent;
  background-color: transparent;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: var(--grey-750);
    transition: color 0.3s ease-in-out;
  }
}

input {
  background-color: transparent;
}

hr {
  margin-block: 3rem 3.75rem;
  border-top: 4px dotted var(--pattern);
  border-bottom: 0;
  @include b.mq(md) {
    margin-block: 4rem 6rem;
    border-top: 5px dotted var(--pattern);
  }
}
