* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-sans-serif);
  font-size: 125%;
  color: var(--grey-500);
  font-weight: 500;
  background: var(--page-bg);
}

// a {
//   padding: 0;
//   margin: 0;
//   line-height: 0;
// }

p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 0.9em;
  a {
    color: var(--grey-750);
    text-decoration-line: none;
    transition: color 0.3s ease-in-out;
    font-style: normal;

    // background-image: url("/images/highlight.svg");
    // background-size: 200px 160%;

    background-image: url("/images/highlight-stroke.svg");
    background-size: 85px 100%;

    // background-image: url("/images/wavy.svg");
    // background-size: 50px 100%;

    background-position: center;
    background-repeat: repeat;
    &:hover {
      color: var(--grey-900);
      transition: color 0.3s ease-in-out;
    }
  }
}

ul {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
  color: var(--grey-750);
  font-weight: 600;
}

strong {
  font-weight: 600;
}

button {
  color: var(--grey-500);
  font-weight: 500;
  background-color: transparent;
  &:hover {
    color: var(--grey-750);
    transition: color 0.3s ease-in-out;
  }
}

hr {
  border-top: 5px dotted var(--pattern);
  border-bottom: none;
  margin-block: 4rem 5rem;
}

.horizontalList {
  display: inline;
  &:not(:last-child)::after {
    content: ', ';
  }
}
