:root {
  --grey-000: hsl(0, 0%, 100%);
  --grey-050: hsl(0, 0%, 95%);
  --grey-100: hsl(0, 0%, 90%);
  --grey-150: hsl(0, 0%, 85%);
  --grey-200: hsl(0, 0%, 80%);
  --grey-250: hsl(0, 0%, 75%);
  --grey-300: hsl(0, 0%, 70%);
  --grey-350: hsl(0, 0%, 65%);
  --grey-400: hsl(0, 0%, 60%);
  --grey-450: hsl(0, 0%, 55%);
  --grey-500: hsl(0, 0%, 50%);
  --grey-550: hsl(0, 0%, 45%); // AA normal text
  --grey-600: hsl(0, 0%, 40%);
  --grey-650: hsl(0, 0%, 35%); // AAA normal text
  --grey-700: hsl(0, 0%, 30%);
  --grey-750: hsl(0, 0%, 25%);
  --grey-800: hsl(0, 0%, 20%);
  --grey-850: hsl(0, 0%, 15%);
  --grey-900: hsl(0, 0%, 10%);
  --grey-950: hsl(0, 0%, 05%);
  --accent: hsl(0, 0%, 46%);
  --pattern: hsl(0, 0%, 80%);
  --background: hsl(60, 15%, 95%);
  --btn-hover: hsl(60, 15%, 92%);
  --page-bg: hsl(360, 1%, 99%);
  --font-sans-serif:
    calibre,
    system-ui,
    -apple-system,
    blinkmacsystemfont,
    'Segoe UI',
    roboto,
    oxygen,
    ubuntu,
    cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  --font-monospace: 'Pitch Sans', ui-monospace, menlo, courier, monospace;
}
