:root {
  --grey-000: hsl(0, 0%, 100%);
  --grey-050: hsl(0, 0%, 95%);
  --grey-100: hsl(0, 0%, 90%);
  --grey-150: hsl(0, 0%, 85%);
  --grey-200: hsl(0, 0%, 80%);
  --grey-250: hsl(0, 0%, 75%);
  --grey-300: hsl(0, 0%, 70%);
  --grey-350: hsl(0, 0%, 65%);
  --grey-400: hsl(0, 0%, 60%);
  --grey-450: hsl(0, 0%, 55%);
  --grey-500: hsl(0, 0%, 50%);
  --grey-550: hsl(0, 0%, 45%);
  --grey-600: hsl(0, 0%, 40%);
  --grey-650: hsl(0, 0%, 35%);
  --grey-700: hsl(0, 0%, 30%);
  --grey-750: hsl(0, 0%, 25%);
  --grey-800: hsl(0, 0%, 20%);
  --grey-850: hsl(0, 0%, 15%);
  --grey-900: hsl(0, 0%, 10%);
  --grey-950: hsl(0, 0%, 05%);
  --accent: hsl(310, 77%, 66%);
  --foreground: hsl(0, 0%, 0%);
  --pattern: hsl(0, 0%, 80%);
  --pattern-light: hsla(0, 0%, 75%, 0.5);
  --background: hsl(60, 15%, 95%);
  --page-bg: hsl(360, 1%, 99%);
  --paper-050: hsl(60, 3%, 95%);
  --paper-100: hsl(60, 3%, 90%);
  --paper-150: hsl(60, 3%, 85%);
  --paper-200: hsl(60, 3%, 80%);
  --paper-250: hsl(60, 3%, 75%);
  --paper-300: hsl(60, 3%, 70%);
  --paper-350: hsl(60, 3%, 65%);
  --paper-400: hsl(60, 3%, 60%);
  --paper-450: hsl(60, 3%, 55%);
  --paper-500: hsl(60, 3%, 50%);
  --paper-550: hsl(60, 3%, 45%);
  --paper-600: hsl(60, 3%, 40%);
  --paper-650: hsl(60, 3%, 35%);
  --paper-700: hsl(60, 3%, 30%);
  --paper-750: hsl(60, 3%, 25%);
  --paper-800: hsl(60, 3%, 20%);
  --paper-850: hsl(60, 3%, 15%);
  --paper-900: hsl(60, 3%, 10%);
  --paper-950: hsl(60, 3%, 05%);
  --instagram: rgb(228, 64, 95);
  --link: rgb(84, 190, 147);
  --font-sans-serif:
    Calibre,
    system-ui,
    -apple-system,
    blinkmacsystemfont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  --font-monospace: 'Pitch Sans', ui-monospace, menlo, courier, monospace;
}
