:root {
  --background: hsl(43, 41%, 93%);
  --foreground: hsl(210, 3%, 12%);
  --white: hsl(0, 0%, 100%);
  --orange: hsl(24, 100%, 68%);
  --cyan: hsl(180, 68%, 61%);
  --pink: hsl(320, 60%, 68%);
  --green: hsl(140, 60%, 50%);
  --blue: hsl(204, 100%, 50%);
  --red: hsl(360, 100%, 60%);
  --select: hsl(0, 0%, 80%);
  --border: 2px solid var(--foreground);
}
