@font-face {
  font-family: Calibre;
  font-weight: 100;
  src: url('/fonts/Calibre-Thin.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Calibre;
  font-style: italic;
  font-weight: 100;
  src: url('/fonts/Calibre-ThinItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Calibre;
  font-weight: 300;
  src: url('/fonts/Calibre-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Calibre;
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/Calibre-LightItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Calibre;
  font-weight: 400;
  src: url('/fonts/Calibre-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Calibre;
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Calibre-RegularItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Calibre;
  font-weight: 500;
  src: url('/fonts/Calibre-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Calibre;
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/Calibre-MediumItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Calibre;
  font-weight: 600;
  src: url('/fonts/Calibre-Semibold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Calibre;
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/Calibre-SemiboldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Calibre;
  font-weight: 700;
  src: url('/fonts/Calibre-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Calibre;
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/Calibre-BoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Calibre;
  font-weight: 900;
  src: url('/fonts/Calibre-Black.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Calibre;
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/Calibre-BlackItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pitch Sans';
  font-weight: 300;
  src: url('/fonts/PitchSans-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pitch Sans';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/PitchSans-LightItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pitch Sans';
  font-weight: 400;
  src: url('/fonts/PitchSans-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pitch Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/PitchSans-RegularItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pitch Sans';
  font-weight: 500;
  src: url('/fonts/PitchSans-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pitch Sans';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/PitchSans-MediumItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pitch Sans';
  font-weight: 600;
  src: url('/fonts/PitchSans-Semibold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pitch Sans';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/PitchSans-SemiboldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pitch Sans';
  font-weight: 700;
  src: url('/fonts/PitchSans-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pitch Sans';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/PitchSans-BoldItalic.woff2') format('woff2');
  font-display: swap;
}
