---
import "styles/global.css"
import sanityClient from "lib/sanityClient"
import { getNestedHeadings } from "lib/utils"
import { resourceQuery } from "lib/queries"
import { Resource, SanityBlock } from "lib/interfaces"

const response = await sanityClient.fetch(resourceQuery)
const data = response
const { resource } = data as { resource: Resource }

const titles = resource.body.filter(block => block.style !== "normal")
const headings = getNestedHeadings(titles)
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>Beatbox</title>
  </head>
  <body>
    <article>
      <ul>
        {headings.map(heading => (
          <li>
            <a href={`#${heading.id}`}>{heading.title}</a>
            {heading.items.length > 0 && (
              <ul>
                {heading.items.map(child => (
                  <li>
                    <a href={`#${child.id}`}>{child.title}</a>
                  </li>
                ))}
              </ul>
            )}
          </li>
        ))}
      </ul>
    </article>
  </body>
</html>
