---
import "styles/global.css"
import { Show } from "astro-control"
import sanityClient from "lib/sanityClient"
import { resourceQuery } from "lib/queries"
import Footer from "components/Footer.astro"
import Header from "components/Header.astro"
import { Resource } from "lib/interfaces"

const response = await sanityClient.fetch(resourceQuery)
const data = response
const { resource } = data as { resource: Resource }

const getNestedHeadings = headings => {
  const nestedHeadings = []

  headings.forEach((heading, index) => {
    const { style, children } = heading
    const { text } = children[0]

    if (heading.style === "h2") {
      nestedHeadings.push({ id: style, title: text, items: [] })
    } else if (heading.style === "h3" && nestedHeadings.length > 0) {
      nestedHeadings[nestedHeadings.length - 1].items.push({
        id: style,
        title: text
      })
    }
  })

  return nestedHeadings
}

const titles = resource.body.filter(block => block.style !== "normal")
const nestedHeadings = getNestedHeadings(titles)
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>Beatbox</title>
  </head>
  <body>
    <Header />
    <!-- {titles.map(block =>
      <Show when={block.style === "h2"}><h2>{block.children[0].text}</h2></Show>
      <Show when={block.style === "h3"}><h3>{block.children[0].text}</h3></Show>
      <Show when={block.style === "h4"}><h4>{block.children[0].text}</h4></Show>
    )} -->
    {JSON.stringify(nestedHeadings)}
    <Footer />
  </body>
</html>
