@use '/styles/foundation/breakpoints' as b;

.coursesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-bottom: 9rem;
  @include b.mq(lg) {
    grid-template-columns: 1fr;
  }
}

.cardContainer {
  background-color: var(--background);
  border: 2px solid var(--foreground);
}
