@use '/styles/foundation/breakpoints' as b;

.intro {
  grid-template-columns: 43% 55%;
  // grid-auto-rows: min-content;
  margin-top: 6.4rem;
  @include b.mq(md) {
    grid-template-columns: auto;
  }
}

.introImage {
  height: 98%;
  border: 2px solid var(--foreground);
  @include b.mq(md) {
    width: 100%;
    font-size: 1.4rem;
  }
}

.caption {
  margin-top: 0.4rem;
  overflow: hidden;
  font-size: 1.6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include b.mq(lg) {
    font-size: 1.4rem;
    white-space: unset;
  }
}

.introHeading {
  margin: -0.9rem 0 0;
  @include b.mq(md) {
    width: 100%;
    margin: 2rem 0 0;
  }
  h2 {
    margin: 0;
  }
}

.introBody {
  margin-top: 6rem;
  @include b.mq(lg) {
    margin-top: 2rem;
  }
  @include b.mq(md) {
    width: 100%;
    margin-top: 0;
  }
  @include b.mq(sm) {
  }
}

.video {
  width: 60%;
  min-width: 800px;
  @include b.mq(lg) {
    width: 88%;
    min-width: unset;
  }
  @include b.mq(md) {
    width: 100%;
    min-width: unset;
  }
}

.engagementText {
  width: 60%;
  margin-bottom: 7rem;
  @include b.mq(lg) {
    width: 88%;
    min-width: unset;
  }
  @include b.mq(md) {
    width: 100%;
    min-width: unset;
  }
}

.engagement {
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @include b.mq(lg) {
    grid-template-columns: 1fr 1fr;
    width: 88%;
    margin: auto;
  }
  @include b.mq(md) {
    width: 100%;
  }
}

.engagementFigure {
  font-size: 8rem;
  place-items: center;
  @include b.mq(sm) {
    font-size: 6rem;
  }
}

.engagementTitle {
  font-size: 1.8rem;
  @include b.mq(sm) {
    font-size: 1.6rem;
  }
}

.quoteGrid {
  grid-template-columns: auto auto;
  grid-auto-rows: 1fr;
  gap: 2rem;
  @include b.mq(md) {
    grid-template-columns: auto;
  }
}

.quoteContainer {
  min-width: 8.5rem;
  max-width: 85rem;
  height: 100%;
  margin: auto;
  @include b.mq(lg) {
    width: 100%;
    min-width: 0;
  }
  @include b.mq(md) {
    flex-direction: column;
    width: 88%;
    margin: auto;
  }
  @include b.mq(sm) {
    width: 100%;
  }
}

.quoteText {
  @include b.mq(md) {
    width: 100%;
  }
}

.cardPadding {
  padding: 2.6rem 4rem 0.5rem;
  @include b.mq(lg) {
    padding: 2rem 3rem 0rem;
  }
  @include b.mq(sm) {
    padding: 1.5rem 1.8rem 0.5rem;
  }
}

.img {
  flex: 1;
}

.quoteLeft,
.quoteRight {
  width: 8.1rem;
  margin-bottom: 1.25em;
}

.quoteLeft {
  top: 1.3rem;
  left: 1.5rem;
}

.quoteRight {
  right: 1.1rem;
  bottom: -1.2rem;
}
