@use '/styles/foundation/breakpoints' as b;

.intro {
  grid-template-columns: 43% 55%;
  grid-auto-rows: min-content;
  margin-top: 6.4rem;
  @include b.mq(md) {
    grid-template-columns: auto;
  }
}

.introImage {
  height: 98%;
  border: 2px solid var(--foreground);
  @include b.mq(md) {
    font-size: 1.4rem;
    width: calc(100% - 6rem);
  }
}

.caption {
  font-size: 1.6rem;
  margin-top: 0.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include b.mq(lg) {
    font-size: 1.4rem;
  }
}

.introHeading {
  margin: -0.9rem 0 0 0;
  h2 {
    margin: 0;
  }
  @include b.mq(md) {
    width: calc(100% - 6rem);
  }
}

.introBody {
  margin-top: 6rem;
  @include b.mq(lg) {
    margin-top: 2rem;
  }
  @include b.mq(md) {
    margin-top: 0;
    width: calc(100% - 6rem);
  }
}

.video {
  width: 60%;
  min-width: 800px;
  @include b.mq(lg) {
    width: 88%;
    min-width: unset;
  }
  @include b.mq(md) {
    width: 100%;
    min-width: unset;
  }
}

.engagementText {
  width: 60%;
  margin-bottom: 7rem;
  @include b.mq(lg) {
    width: 88%;
    min-width: unset;
  }
  @include b.mq(md) {
    width: 100%;
    min-width: unset;
  }
}

.quoteGrid {
  grid-template-columns: auto auto;
  grid-auto-rows: 1fr;
  gap: 2rem;
  @include b.mq(md) {
    grid-template-columns: auto;
  }
}
