@use 'foundation/colors';
@use 'foundation/typography';
@use 'foundation/breakpoints' as b;
@use 'foundation/utils';

* {
  box-sizing: border-box;
  margin: 0;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

::selection {
  background-color: rgba(var(grey-400), 0.5);
}

html {
  // overflow-y: scroll;
  font-size: 62.5%;
  background-color: var(grey-950);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  z-index: -100; // ************************************************************
  overflow: hidden;
  font-family: var(--serif);
  font-size: 2rem;
  line-height: 1.5;
  color: var(--grey-950);
  background-color: var(--beige-150);
}

section {
  position: relative;
}

a {
  color: var(--grey-950);
}

h1 {
  font-family: var(--sans);
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.1;
  color: var(--beige-150);
}

h2 {
  margin-bottom: 0.3em;
  font-family: var(--sans);
  font-size: 4.5rem;
  line-height: 1.2;
  color: var(--grey-950);
  letter-spacing: 0.012em;
}

h3 {
  margin-bottom: 0.25em;
  font-family: var(--sans);
  font-size: 7.9rem;
  line-height: 0.7;
}

h4 {
  font-family: var(--sans);
  font-size: 2.2rem;
}

p {
  margin-bottom: 1.8rem;
}

small {
  font-family: var(--sans);
  font-size: 85%;
  color: var(--grey-950);
}

sup {
  font-size: 60%;
}

blockquote {
  position: relative;
  margin-bottom: 1em;
  font-size: 2rem;
}

cite {
  display: inline-block;
  font-family: var(--sans);
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.4;
}

form {
  margin-bottom: 1.8em;
}
