@use 'foundation/colors';
@use 'foundation/typography';
@use 'foundation/breakpoints' as b;

header {
  margin-bottom: 9.4rem;
  background-color: var(--grey-950);
}

.headerContainer {
  display: flex;
  margin: 0 auto;
}

.brandContainer {
  align-items: center;
  padding: 0.6em;
  margin: 0 0.5em -0.28em;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.nameEn {
  padding-bottom: 0.72rem;
  margin: 0;
  letter-spacing: 0;
}

.nameCy {
  margin: 0;
}

// ********** Language Switcher *********

.languageSwitcher {
  display: flex;
  align-items: center;
  margin: 0 4.5rem 0 auto;
  font-family: var(sans);
  font-size: 6.3rem;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
}

.languageLink {
  color: var(beige-150);
  cursor: pointer;
  user-select: none;
}

// ********** Media Queries *************

@media only screen and (max-width: 856px) {
  .nameContainer {
    margin-bottom: 0.2rem;
  }
  .nameEn,
  .nameCy {
    font-size: 0.98em;
  }
  .nameCy {
    letter-spacing: 0.03rem;
  }
  .brandContainer {
    padding: 0;
    margin: 0.6em 0.7em 0;
    img {
      width: 65px;
      height: 65px;
    }
  }
  .languageSwitcher {
    margin: -0.2rem 1.2rem 0.2rem auto;
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 656px) {
  .nameContainer {
    margin-top: 0.3rem;
  }
  .nameEn,
  .nameCy {
    font-size: 0.85em;
  }
  .nameCy {
    margin-bottom: 0.5em;
    letter-spacing: 0.025rem;
  }
  .brandContainer {
    padding: 0;
    margin: 0.6em 0.5em 0;
    img {
      width: 55px;
      height: 55px;
    }
  }
  .languageSwitcher {
    margin: -0.2rem 0.8rem 0.2rem auto;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 540px) {
  .nameContainer {
    display: none;
  }
  .languageSwitcher {
    margin: -0.2rem 1.2rem 0.2rem auto;
  }
  .brandContainer {
    padding: 0.2em;
    margin: 0.4em 0.5em 0;
    img {
      width: 70px;
      height: 70px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .nameContainer {
    display: none;
  }
  .brandContainer {
    padding: 0.4em;
    margin: 0.3em 0.5em 0;
    img {
      width: 60px;
      height: 60px;
      margin: 5;
    }
  }
  .languageSwitcher {
    margin: -0.2rem 1.2rem 0.2rem auto;
  }
}

@media only screen and (max-width: 325px) {
  header {
    margin-bottom: 0;
  }
}
