@use "/styles/foundation/breakpoints" as b;

.cardImageContainer {
  position: relative;
  width: 100%;
  padding: 3rem;
  @include b.mq(sm) {
    padding: 2rem;
  }
  @include b.mq(sm) {
    padding: 0 0 2rem 0;
  }
}

.cardImage {
  width: 100%;
  border: 2px solid var(--foreground);
  @include b.mq(sm) {
    border: 0;
    border-bottom: 2px solid var(--foreground);
  }
}

.cardText {
  padding: 0 3rem 1.8rem;
  display: flex;
  flex-direction: column;
  @include b.mq(sm) {
    padding: 0 2rem 0;
  }
}

.courseTitle {
  font-size: 5.1rem;
  font-size: 3.5vw;
  margin: 0 0 2rem 0;
  @include b.mq(xl) {
    font-size: 3.8vw;
  }
  @include b.mq(lg) {
    font-size: 6vw;
  }
  @include b.mq(md) {
    font-size: 7.5vw;
  }
  @include b.mq(sm) {
    font-size: 4rem;
  }
}

.courseSubitle {
  font-size: 3rem;
  font-size: 1.8vw;
  margin: 0 0 4rem 0;
  font-weight: 400;
  margin: 0 0 6rem 0;
  @include b.mq(lg) {
    font-size: 3.5vw;
  }
  @include b.mq(md) {
    font-size: 2.6rem;
  }
  @include b.mq(sm) {
    // font-size: 7vw;
    font-size: 2.4rem;
  }
}

.courseInfo {
  text-transform: uppercase;
  margin: 0 0 1.4rem;
  font-size: 2rem;
  font-weight: 400;
  @include b.mq(md) {
    font-size: 1.8rem;
  }
  @include b.mq(sm) {
    font-size: 1.6rem;
  }
}

.horizontal {
  padding: 0;
  margin: 0;
  display: inline;
  &:not(:last-child)::after {
    content: ', ';
  }
}

.britelink {
  text-decoration: none;
}

.britelinkBtn {
  text-transform: uppercase;
  display: flex;
  background-color: var(--grey-000);
  border: 2px solid var(--foreground);
  margin: 5.2rem auto 3rem;
  color: var(--foreground);
  font-size: 2.4rem;
  font-family: var(--sans);
  line-height: 1.5em;
  user-select: none;
  padding: 1.5rem 5rem 1.5rem;
  cursor: pointer;
  @include b.mq(md) {
    font-size: 2rem;
  }
  @include b.mq(sm) {
    font-size: 1.8rem;
  }
  a {
    text-decoration: none !important;
  }
}

.britelink:hover {
  transform: translateY(0.15rem);
  box-shadow: 0 0.4rem 0 var(--grey-400);
}

.britelink:active,
.britelink:focus {
  transform: translateY(0.5rem);
  box-shadow: 0 0 0 rgb(156, 158, 158);
}

.britelink:focus {
  outline: grey dashed 0.44rem;
}
