.footer {
  border-top: var(--border);
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: var(--foreground);
  justify-content: space-between;
  a {
    text-decoration: none;
    color: var(--foreground);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 3px;
  }
}
