@use '/styles/foundation/breakpoints' as b;

.footer {
  position: relative;
  z-index: 2;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: var(--foreground);
  background-color: var(--background);
  a {
    color: var(--foreground);
    text-decoration: none;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 3px;
  }
}
