@use '/styles/foundation/breakpoints' as b;

.footer {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: var(--foreground);
  justify-content: space-between;
  z-index: 2;
  position: relative;
  background-color: var(--background);
  margin: 0 4.5rem;
  @include b.mq(sm) {
    margin: 0;
    flex-direction: column;
  }
  a {
    text-decoration: none;
    color: var(--foreground);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 3px;
  }
}
