@use 'styles/foundation/breakpoints' as b;

.header {
  position: fixed;
  width: 100%;
  top: 0px;
  border-bottom: 2px solid var(--foreground);
  z-index: 10;
}

.container {
  padding: 1rem 2rem;
}

.navLinks {
  color: var(--grey-950);
  padding: 0 0.5rem;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
  }
}

.siteName {
  color: var(--grey-950);
  text-decoration: none;
}

.acron {
  margin-right: 3rem;
  color: var(--grey-950);
  text-decoration: none;
}
