@use '/styles/foundation/breakpoints' as b;

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 2px solid var(--foreground);
}

.navLinks {
  padding: 0 0.5rem;
  color: var(--grey-950);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
  }
}

.langLink {
  text-decoration: none;
}

.siteName {
  text-decoration: none;
}

.acron {
  margin-right: 3rem;
  text-decoration: none;
}

.content {
  position: relative;
  z-index: 4;
}

.signupInput {
  width: 57%;
  padding: 1.5rem 2.7rem;
  font-size: 2rem;
  border: 0;
  display: inline-block;
  margin-left: 20%;
  width: calc(60% - 6.1rem);
  @include b.mq(lg) {
    margin-left: 15%;
    width: calc(70% - 6.1rem);
    font-size: 2.4rem;
  }
  @include b.mq(md) {
    margin-left: 0;
    width: calc(100% - 5.8rem);
    font-size: 2.2rem;
  }
  @include b.mq(sm) {
    width: calc(100% - 5.6rem);
    font-size: 1.8rem;
  }
}

.signupSend {
  width: 5.5rem;
  height: 5.5rem;
  padding: 1.5rem;
  cursor: pointer;
  background-color: rgba(77, 73, 73);
  border: 0;
  transform: translate(-0.4rem, 2rem);
  @include b.mq(lg) {
    width: 6.1rem;
    height: 6.1rem;
    padding: 1.8rem;
    transform: translate(-0.4rem, 2.25rem);
    margin-right: 15%;
  }
  @include b.mq(md) {
    margin-right: 0;
    width: 5.8rem;
    height: 5.8rem;
    padding: 1.8rem;
    transform: translate(-0.4rem, 2.15rem);
  }
  @include b.mq(sm) {
    width: 5.3rem;
    height: 5.3rem;
    padding: 1.6rem;
    transform: translate(-0.4rem, 2.05rem);
  }
}

.signupText {
  width: 60%;
  @include b.mq(lg) {
    width: 70%;
  }
  @include b.mq(md) {
    width: 88%;
  }
  @include b.mq(sm) {
    width: 100%;
  }
}

.linksMenu {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 3rem;
  @include b.mq(md) {
    line-height: 0;
    gap: 0 2rem;
    // justify-content: unset;
  }
  @include b.mq(sm) {
    display: unset;
    gap: 0;
  }
  li {
    display: block;
    line-height: 2;
  }
  a {
    color: var(--foreground);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 6px;
    }
  }
}

.logos {
  gap: 5rem;
  justify-content: center;
  width: 100%;
  font-size: 1.3vw;
  @include b.mq(xl) {
    gap: 4rem;
    font-size: 1.6vw;
  }
  @include b.mq(md) {
    gap: 4rem;
    font-size: 2.5vw;
  }
  @include b.mq(sm) {
    justify-content: unset;
    gap: 3rem;
    font-size: 3vw;
  }
}

.lotteryLogo {
  width: 14em;
}

.acwLogo {
  width: 18em;
}

.wgLogo {
  width: 12em;
}

.wlgaLogo {
  width: 5em;
}

.footer {
  position: relative;
  z-index: 2;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: var(--foreground);
  background-color: var(--background);
  @include b.mq(sm) {
    line-height: 2;
  }
  a {
    color: var(--foreground);
    text-decoration: none;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 3px;
  }
}

// .scrollupContainer {
//   position: fixed;
//   right: 2.3rem;
//   bottom: -0.1rem;
//   z-index: 4;
//   width: 3rem;
// }
//
// .corner {
//   fill: var(--foreground);
// }
