@use '/styles/foundation/breakpoints' as b;

.siteMain {
  position: relative;
}

.content {
  position: relative;
  z-index: 4;
}

.linksMenu {
  list-style: none;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    color: var(--foreground);
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 6px;
    }
  }
  @include b.mq(md) {
    justify-content: unset;
  }
}

.logos {
  justify-content: center;
  width: 100%;
  gap: 5rem;
  font-size: 1.3;
  @include b.mq(sm) {
    gap: 2rem;
    font-size: 3vw;
  }
}

.lotteryLogo {
  width: 14em;
}

.acwLogo {
  width: 18em;
}

.wgLogo {
  width: 12em;
}

.wlgaLogo {
  height: 5em;
}
