@use '../styles/foundation/breakpoints' as b;

.logo {
  fill: white;
  width: 47rem;
  height: 47rem;
  position: absolute;
  // transform: rotate(-10deg);
  // left: -4rem;
  // top: -4rem;
  @include b.mq(lg) {
    width: 73px;
    height: 73px;
  }
  @include b.mq(md) {
    width: 60px;
    height: 60px;
  }
  @include b.mq(sm) {
    width: 73px;
    height: 73px;
  }
}
