@use "/styles/foundation/breakpoints" as b;

.vennDiagram {
  position: relative;
  width: 56vw;
  margin-left: auto;
  margin-right: -2rem;
  margin-top: 6rem;
  @include b.mq(lg) {
    width: 100%;
    margin-bottom: -10rem;
    right: 4%;
  }
  @include b.mq(sm) {
    width: 106%;
    margin-bottom: -1.5rem;
  }
}

%all-content {
  position: absolute;
  font-family: var(--sans);
  // font-size: 2.5rem;
  font-size: 1.8vw;
  text-align: center;
  transform: translate(-50%, -50%);
  user-select: none;
  @include b.mq(lg) {
    font-size: 3vw;
  }
  @include b.mq(md) {
    font-size: 4vw;
  }
  @include b.mq(sm) {
    font-size: 4.5vw;
  }
}

.content1 {
  @extend %all-content;
  top: 18%;
  left: 50%;
}

.content2 {
  @extend %all-content;
  top: 67%;
  left: 21%;
}

.content3 {
  @extend %all-content;
  line-height: 1.2;
  top: 67%;
  left: 78%;
}

.content4 {
  @extend %all-content;
  // color: var(--grey-000);
  top: 55%;
  left: 50%;
}

%white-circles {
  background-color: white;
  position: absolute;
  width: 60.59%;
  border-radius: 50%;
}

.circle1 {
  @extend %white-circles;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.circle2 {
  @extend %white-circles;
  bottom: 10.02%;
  left: 2.41%;
}

.circle3 {
  @extend %white-circles;
  bottom: 10.02%;
  right: 2.41%;
}

%top-circles {
  mix-blend-mode: difference;
  opacity: 0.65;
  position: absolute;
  width: 60.59%;
  border-radius: 50%;
}

.circle4 {
  @extend %top-circles;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FF3333;
}

.circle5 {
  @extend %top-circles;
  bottom: 10.02%;
  right: 2.41%;
  background-color: #33CC66;
}

.circle6 {
  @extend %top-circles;
  bottom: 10.02%;
  left: 2.41%;
  background-color: #0099FF;
}

.vennDiagram::after,
.circle1::after,
.circle2::after,
.circle3::after,
.circle4::after,
.circle5::after,
.circle6::after {
  content: "";
  padding-bottom: 100%;
  display: block;
}
