@use '../styles/foundation/breakpoints' as b;

.quoteContainer {
  max-width: 85rem;
  min-width: 8.5rem;
  // margin-right: auto;
  margin: var(--alignCard);
  flex-direction: var(--direction);
  @include b.mq(lg) {
    min-width: 0;
    width: 100%;
  }
  @include b.mq(md) {
    flex-direction: column;
    width: 88%;
    margin: auto;
  }
  @include b.mq(sm) {
    width: 100%;
  }
}

.quoteText {
  width: var(--textWidth);
  @include b.mq(md) {
    width: 100%;
  }
}

.img {
  object-position: var(--xPosition) 50%;
}

.quoteLeft,
.quoteRight {
  width: 8.1rem;
  margin-bottom: 1.25em;
}

.quoteLeft {
  left: 1.5rem;
  top: 1.3rem;
}

.quoteRight {
  right: 1.1rem;
  bottom: -1.2rem;
}
