@use '../styles/foundation/breakpoints' as b;

.nav {
  align-items: right;
  justify-content: center;
}

.nav--item {
  margin-right: 4.5rem;
  line-height: 1.3;
  text-align: right;
}

.nav--link {
  text-decoration: none;
}
