@use 'vars' as v;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: v.$sans;
}

body {
  margin: 0;
  color: v.$black;
  background-color: v.$background;
}

p {
  padding: 5px 0;
  font-weight: 200;
  line-height: 1.45;
}

h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.5;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

time {
  display: block;
  margin: 10px 0 2px;
  font-size: 14px;
  font-weight: 300;
}

a {
  color: v.$blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.divider {
  display: block;
  height: 2px;
  margin: auto;
  background-color: v.$background;
}
