.block {
  display: block;
}

.m-0 {
  margin: 0px;
}

.p-0 {
  margin: 0px;
}

.sans {
  font-family: v.$sans;
}

.font-200 {
  font-weight: 200;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-700 {
  font-weight: 700;
}

.text-dark {
  color: v.$black;
}

.text-muted {

}

.text-accent {
  color: v.$blue;
}

.leading-6 {
  line-height: 1.5rem;
}

.bg-color {
  background-color: v.$background;
}

