
@use "foundation/colors" as c;
@use "foundation/typography" as t;
@use "foundation/breakpoints" as b;

.coursesContainer {
  margin-bottom: 9rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

/* ********** Card styles ****************** */

.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
  border: c.$border;
  margin-right: auto;
  background: c.$beige-150;
  box-shadow: c.$shadow;
}
.cardText {
  padding: 1rem 1.3rem 1rem 1.3rem;
  position: relative;
  margin-top: -25%;
}
.courseDate {
  margin: 0 0 0.8rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.courseLocation {
  margin: 0.1rem 0;
  font-size: 1.2rem;
  font-weight: 400;
}
.coursePrice {
  margin: 0.4rem 0 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.cardImage {
  height: 80%;
}

/* ********** Eventbrite button ************ */

.britelink {
  display: flex;
  background: #0D0D0D;
  height: 3.5rem;
  border: 0;
  margin: 2.9rem auto 1.7rem;
  color: white;
  font-size: 1.8rem;
  font-family: t.$sans;
  font-weight: bold;
  line-height: 1.5em;
  user-select: none;
  padding: 0.2rem 1.5rem 0.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0 rgb(156, 158, 158);
  cursor: pointer;
}
.britelink:hover {
  transform: translateY(0.15rem);
  box-shadow: 0 0.2rem 0 rgb(156, 158, 158);
}
.britelink:active,
.britelink:focus {
  transform: translateY(0.3rem);
  box-shadow: 0 0 0 rgb(156, 158, 158);
}
.britelink:focus {
  outline: grey dashed 4px;
}

/* ********** Media Queries ************ */

@media (max-width: 1114px) {
  .courseDate {
    font-size: 1.4rem;
  }
  .britelink {
    font-size: 1.6rem;
    height: 3.2rem;
  }
}
@media only screen and (max-width: 978px) {
  .coursesContainer {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .cardContainer {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0rem;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .cardText {
    padding: 1rem 1.3rem 1rem 2rem;
    margin-top: 0;
  }
  .cardImage {
    height: 100%;
  }
}
@media only screen and (max-width: 848px) {
  .cardContainer {
    grid-template-columns: 1fr 1.5fr;
  }
}
@media only screen and (max-width: 740px) {
  .cardContainer {
    grid-template-columns: 1fr;
    max-width: 25rem;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .cardText {
    width: 100%;
    padding: 1rem 1.3rem 1rem 1.3rem;
    margin-top: -25%;
  }
  .cardImage {
    height: 80%;
  }
}
@media only screen and (max-width: 480px) {
  .cardContainer {
    width: 100%;
  }
  .cardText {
    width: 100%;
    padding: 1rem 1.3rem 1rem 1.3rem;
  }
}
