// ********** Partials ******************

@use "sass:map";
@use "foundation/normalize";
@use "foundation/variables";
@use "foundation/typography";

// ********** Mixins ********************

$breakpoints: (
  xs: 325px,
  s: 480px,
  sm: 540px,
  ms: 656px,
  m: 809px,
  ml: 856px,
  l: 978px,
  xl: 1114px,
);

@mixin mq($key) {
  $size: map.get($breakpoints, $key);
  @media only screen and (max-width: $size) {
    @content;
  }
}

// ********** Global styles *************

* {
  margin: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  background: #0D0D0D;
  font-family: "Domaine Text";
  font-size: 112.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include mq(s) {
    font-size: 100%;
  }
}
body {
  background: var(--background);
  color: var(--black);
  font-family: "Domaine Text";
  font-size: 1.16rem;
  line-height: 1.5;
  position: relative;
  z-index: -100;
  overflow: hidden;
}
section {
  position: relative;
}
a {
  color: var(--black);
}
h1 {
  font-family: "Neue Haas Unica", sans-serif;
  font-size: 1.55rem;
  font-weight: 400;
  line-height: 1.1;
  color: var(--background);
}
h2 {
  font-family: "Neue Haas Unica";
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0.03rem;
  margin-bottom: 0.3em;
  color: var(--black);
  @include mq(xl) {
    font-size: 2.1rem;
  }
  @include mq(s) {
    font-size: 1.9rem;
  }
}
h3 {
  font-family: "Neue Haas Unica";
  font-size: 4.4rem;
  line-height: 0.7;
  margin-bottom: 0.25em;
  @include mq(xl) {
    font-size: 1rem;
  }
}
h4 {
  font-family: "Neue Haas Unica";
  font-size: 1.2rem;
}
p {
  margin-bottom: 1rem;
  @include mq(xl) {
    font-size: 1.1rem;
  }
  @include mq(l) {
    font-size: 1rem;
  }
  @include mq(xs) {
    font-size: 0.9em;
    margin-bottom: 1.4rem;
  }
}
small {
  font-size: 85%;
  font-family: "Neue Haas Unica",-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--black);
  @include mq(xs) {
    font-size: 0.8rem;
  }
}
sup {
  font-size: 60%;
}
blockquote {
  font-size: 1.15rem;
  position: relative;
  margin-bottom: 1em;
  @include mq(s) {
    font-size: 1rem;
  }
}
cite {
  font-family: "Neue Haas Unica",-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-style: normal;
  font-size: 0.9rem;
  line-height: 1.4;
  display: inline-block;
}
form {
  margin-bottom: 1em;
}

// ********** Layout ********************

.containerFluid {
  width: 88%;
  max-width: 1000px;
  margin: auto;
  @include mq(s) {
    width: 100%;
  }
}
.centeredImage {
  width: 65%;
  min-width: 600px;
  margin: 6.7rem auto;
  border: var(--border);
  box-shadow: var(--shadow);
  @include mq(ml) {
    width: 88%;
    min-width: 0px;
  }
  @include mq(s) {
    width: 100%;
  }
  @include mq(xs) {
    width: 100%;
    margin: 2.5em auto;
  }
}
.headline {
  margin-top: 5.1rem;
  margin-bottom: 5rem;
  letter-spacing: 0rem;
  @include mq(l) {
    margin: 5.1rem auto 1.8rem;
  }
  @include mq(s) {
    font-size: 1.85rem;
    width: 88%;
  }
  @include mq(xs) {
    font-size: 1.65rem;
    line-height: 1.3;
    margin: 4rem auto 3.8rem;
  }
}
.headingContainer {
  margin-bottom: 5.7rem;
  @include mq(xs) {
    margin-bottom: 4rem;
  }
}
.heading {
  display: inline;
  @include mq(xs) {
    display: block;
    width: 70%;
    margin: 0 auto 0.7rem;
  }
}
.splitText {
  @include mq(ml) {
    margin: 3rem auto;
    width: 80%;
  }
  @include mq(xs) {
    width: 88%;
    margin: 0 auto 2rem auto;
  }
  @include mq(m) {
    width: 100%;
  }
}

// ********** Spacing *******************

.introSection {
  margin-bottom: 3.6rem;
}
.artistsSection {
  margin-bottom: 6rem;
  @include mq(xs) {
    margin-bottom: 2rem;
  }
}
.legacySection {
  margin-bottom: 6.8rem;
}
.modelSection {
  margin-top: 3.7rem;
  margin-bottom: 3.5rem;
  @include mq(xs) {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
}
.networkSection {
  margin-bottom: 6.2rem;
  @include mq(xs) {
    margin-bottom: 1rem;
  }
}
.promiseSection {
  margin-bottom: 7.8rem;
  @include mq(xs) {
    margin-bottom: 5rem;
  }
}
.signupSection {
  margin-bottom: 7.2rem;
  text-align: center;
  @include mq(xs) {
    margin-bottom: 5rem;
  }
}

// ********** Grid Layouts **************

.splitContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.2rem;
  @include mq(ml) {
    grid-template-columns: 1fr;
    gap: 0;
    width: 88%;
    margin: auto;
  }
  @include mq(xs) {
    width: 100%;
    gap: 1em;
  }
  .sideImage {
    @include mq(xs) {
      margin-bottom: 2rem;
    }
  }
}
.sideImage {
  display: block;
  border: var(--border);
  box-shadow: var(--shadow);
}
.halfLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.2rem;
  @include mq(m) {
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto;
  }
  @include mq(xs) {
    width: 88%;
  }
}
.thirdsLayout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.4rem;
  @include mq(ml) {
    grid-template-columns: 1fr;
    gap: 2em;
    width: 88%;
    margin: auto;
  }
  @include mq(xs) {
    gap: 1rem;
  }
}

// ********** Blockquotes ***************

.quoteSection1 {
  margin-bottom: 6.7rem;
  @include mq(xs) {
    margin-bottom: 4.7rem;
  }
}
.quoteSection2 {
  margin-bottom: 7rem;
  @include mq(xs) {
    margin-bottom: 4.7rem;
  }
}
.quoteContainer {
  display: flex;
  width: 85%;
  min-width: 850px;
  margin-right: auto;
  border: var(--border);
  box-shadow: var(--shadow);
  @include mq(s) {
    display: grid;
    grid-template-columns: 1fr;
    min-width: 0;
    width: 88%;
    margin: auto;
  }
  @include mq(xs) {
    width: 100%;
  }
}
.firstQuote {
  @extend %quote;
  width: 70%;
}
.secondQuote {
  @extend %quote;
  width: 38%;
}
%quote {
  padding: 25px 30px 10px 40px;
  position: relative;
  background: var(--background);
  @include mq(s) {
    width: 100%;
    padding: 25px 15px 10px 20px;
  }
}
.quoteLeft,
.quoteRight {
  width: 4.5rem;
  margin-bottom: 1.25em;
  position: absolute;
  @include mq(s) {
    width: 4rem;
  }
}
.quoteLeft {
  left: 15px;
  top: 13px;
}
.quoteRight {
  right: 11px;
  bottom: -12px;
}

// ********** Case Studies **************

// ********** Legacy (figures) **********
.legacySmall {
  margin-bottom: 15px;
  text-align: center;
  @include mq(xs) {
    display: none;
  }
}
small {
  font-size: 0.85rem;
}
.figuresLayout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @include mq(l) {
    grid-template-columns: 1fr 1fr;
    width: 77%;
    margin: auto;
  }
  @include mq(ms) {
    width: 88%;
  }
  @include mq(s) {
    grid-template-columns: 1fr;
    width: 70%;
    margin: auto;
    text-align: left;
  }
}
.figure,
.figureCap {
  font-weight: bold;
}
.figure {
  font-size: 4.4rem;
  @include mq(xl) {
    font-size: 4rem;
  }
  @include mq(sm) {
    font-size: 3.5rem;
  }
  @include mq(s) {
    font-size: 4rem;
  }
}
.figureCap {
  font-size: 1.3rem;
  @include mq(xl) {
    font-size: 1.1rem;
  }
  @include mq(sm) {
    font-size: 1rem;
  }
}

// ********** Artists / Creators ********

// ********** National network **********

.splitText {
  @include mq(s) {
    width: 88%;
  }
}

// ********** Our promise ***************

.promiseTitle {
  @include mq(ml) {
    width: 88%;
    margin: 0.8rem auto;
  }
}

// ********** Sign up *******************

.signupHeadinig {
  text-align: center;
  margin-bottom: 0.4rem;
}
.signupInput {
  background: white;
  border: 0;
  width: 57%;
  padding: 0.85rem 1.5rem;
  font-family: "Neue Haas Unica", sans-serif;
  font-size: 1.55rem;
  @include mq(m) {
    border: 0;
    width: calc(88% - 4rem);
  }
  @include mq(xs) {
    border: 0;
    width: calc(100% - 4rem);
    padding: 0.85rem 1.5rem;
    font-size: 1.5rem;
  }
}
.signupText {
  text-align: left;
  width: 50%;
  padding-top: 0.2rem;
  margin: auto;
  @include mq(m) {
    width: 65%;
  }
  @include mq(xs) {
    text-align: left;
    width: 88%;
    padding-top: 0.2rem;
    margin: auto;
  }
}

// ********** Courses *******************

.getInvolved {
  margin-bottom: 4.7rem;
  @include mq(m) {
    margin-bottom: 3rem;
  }
  @include mq(s) {
    width: 85%;
    margin: 0 auto 2.7rem;
  }
}

// ********** Decoration *******************

.headingContainer {
  position: relative;
}
