@use "reset";
@use "typography";
@use "colors";

/* ********** Global styles ************ */

.containerFluid {
  width: 88%;
  max-width: 1000px;
  margin: auto;
}

.getInvolved {
  marginBottom: 4.7rem;
}

/* ********** Media Queries ************ */

@media only screen and (max-width: 1114px) {
  p {
    font-size: 1.1rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 978px) {
  p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
  .containerFluid {
    width: 100%;
  }
  h2 {
    font-size: 1.9rem;
  }
  .getInvolved {
    width: 85%;
    margin: 0 auto 2.7rem;
  }
}
@media only screen and (max-width: 325px) {
  p {
    font-size: 0.95rem;
  }
}