@use '/styles/foundation/breakpoints' as b;

.cardContainer {
  width: min(100%, 80rem);
  background-color: var(--background);
  border: 2px solid var(--foreground);
  margin-block: 7rem 15rem;
  margin-inline: auto;
}
