  :root {
  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(0, 0%, 98%);
  --midgray: hsl(360, 1%, 80%);
  --darkgray: hsl(0, 0%, 40%);
  --black: hsl(0, 0%, 13%);
  --blue: hsl(192, 100%, 42%);
  --background: hsl(43, 39%, 93%);
  --border: hsl(43, 39%, 83%);
  --sans: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  --serif: ui-serif,Georgia,'Times New Roman',Times,serif;
  --mono: ui-monospace,Menlo,Courier,monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--sans);
}

body {
  background-color: var(--background);
  color: var(--black);
  margin: 0;
}

p {
  font-weight: 200;
  padding: 5px 0;
  line-height: 1.45;
}

h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.5;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

time {
  display: block;
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0 2px 0;
}

a {
  color: var(--blue);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.divider {
  background-color: var(--background);
  height: 2px;
  display: block;
  margin: auto;
}
