---
import PortableText from "../components/PortableText"
import { components } from "../components/ptComponents"
const { locale, en, cy } = Astro.props
---

<table class="bg-white" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr class="block pt-40 px-20 pb-50">
      <td>
        <PortableText
          value={locale.newsletter.body}
          components={components}
        />
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr class="block pt-20">
      <td class="block h-5 m-auto bg-color"></td>
    </tr>
  </tbody>
</table>
