---
const { locale, en, cy } = Astro.props
---

<table
  class="header"
  border="0"
  cellpadding="0"
  cellspacing="0"
>
  <tr class="header__row--brand">
    <td class="header__data--brand">
      <a href={locale.settings.url}>
        <img
          src={locale.newsletter.logo}
          class="brand"
          alt="National Arts and Education Network logo"
          width="150"
          height="150"
        />
      </a>
    </td>
  </tr>
  <tr class="header__row">
    <td class="header__data" set:html={locale.company.title} />
  </tr>
  <tr class="header__row">
    <td class="divider"></td>
  </tr>
</table>

<style lang="scss">
  @use '../styles/vars' as v;

  .header {
    background-color: v.$white;
    text-transform: uppercase;
    line-height: 1.5;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 40px 0;
    font-weight: 200;
    letter-spacing: 0.2px;
    &__data {
      display: block;
      margin: 30px 20px 60px;
    }
    a {
      text-decoration: none;
    }
    @media only screen and (max-width: 480px) {
      font-size: 18px;
    }
  }

  .brand {
    border-radius: 100%;
  }
</style>
