---
import { urlFor } from "../lib/utils"
const { locale, en, cy } = Astro.props
---

<table class="header w-full py-40 bg-white text-center uppercase" border="0" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <td>
        <a href={locale.settings.url} class="no-underline" style="text-decoration: none;">
          <img src={urlFor(locale.newsletter.logo).format("png").width(300).height(300).url()} class="rounded-full" width="150" height="150" alt={locale.company.title} />
        </a>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="block mt-30 mx-20 mb-60">
        <p style="font-family: -apple-system,'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif !important; font-size: 18px; font-weight: 200; line-height: 1.5em;  letter-spacing: 0.1em; padding-top: 5px; padding-bottom: 5px;" set:html={locale.company.title}></p>
      </td>
    </tr>
    <tr>
      <td class="block h-5 m-auto bg-color"></td>
    </tr>
  </tbody>
</table>
