---
import sanityClient from "lib/sanityClient";
import { resourceQuery } from "lib/queries";
import { Resource } from "lib/interfaces";

export async function getStaticPaths() {
  const data: {
    resources: Resource[];
  } = await sanityClient.fetch(resourceQuery).then((response) => response);
  return data.resources.map((resource) => {
    return {
      params: { resource: resource.slug },
      props: { resource },
    };
  });
}

const { resource } = Astro.props as { resource: Resource };
---

<html>
  <head
    ><title>{resource.title}</title><meta
      http-equiv="refresh"
      content={`0; url = /${resource.slug}/introduction`}
    />
  </head>
  <body>
    <h1>{resource.title}</h1>
  </body>
</html>
