:root {
  --medium-turquoise: rgba(80, 220, 218, 1);
  --sky-magenta: rgba(220, 113, 184, 1);
  --corn: rgba(255, 232, 102, 1);
  --atomic-tangerine: rgba(255, 149, 78, 1);
  --hookers-green: rgba(78, 114, 92, 1);
  --brunswick-green: rgba(37, 80, 60, 1);
  --cerise: rgba(220, 62, 106, 1);
  --purple-navy: rgba(92, 78, 149, 1);
  --cyber-grape: rgba(92, 76, 119, 1);
  --space-cadet: rgba(44, 45, 72, 1);
}