@import "normalize";

*
*::after
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Germalt";
  src: url('../fonts/germalt-bold-aen.woff2') format('woff2'),
       url('../fonts/germalt-bold-aen.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Germalt";
  src: url('../fonts/germalt-regular-amp.woff2') format('woff2'),
       url('../fonts/germalt-regular-amp.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
  color: #FFF;
}
body {
  padding: 0;
  margin: 0;
}
.h1 {
  font-family: "Germalt";
  font-size: 3.7rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.1;
}
.language-switch {
  position: absolute;
  top: 0%;
  right: 5%;
  line-height: 7rem;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 0.06em;
}
div .h1 {
  margin: 0;
  display: block;
  padding: 0 0 0 0.9rem;
  display: inline-block;
}
.hero-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  line-height: 0.85;
}
.hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-text {
  position: absolute;
  bottom: 0;
  left: 7%;
  border-left: 7px solid white;
  padding-bottom: 1.5rem;
}
.logo-container {
  position: absolute;
  top: 0;
  left: 6.6%;
}
.logo {
  font-family: "Germalt";
  line-height: 7rem;
  font-size: 5rem;
  font-weight: 400;
  padding-right: 1.25rem;
}
.top-bar {
  position: absolute;
  width: 100vw;
  height: 7rem;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.3)
}
.bottom-bar {
  position: absolute;
  width: 100vw;
  height: 20rem;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3)
}
