@import "normalize";

:root {
  --background: rgba(44, 45, 72, 1);
  --foreground: #f6ece3;
  --transparent: rgba(224,220,207,0.3);
  --dark: rgba(9,19,28,0.9);
  --venn-green: #33CC66;
  --venn-blue: #0099FF;
  --venn-red: #FF3333;
  --venn-base: #fff;
  --text: #f6ece3;
}

*
*::after
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
  font-weight: 400;
}
body {
  padding: 0;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
}
#site-main {
  padding-bottom: 3rem;
}
.container {
  width: 40.375rem;
  margin: auto;
}
.title {
  color: var(--text);
  font-weight: 600;
  font-size: 3rem;
  padding: 1.5rem 0;
  text-transform: lowercase;
  opacity: 0.8;
}
.venn-container {
  width: 100%;
  height: 100vh;
  position: relative;
  transform: rotate(0deg);
}
.venn-diagram {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32.5rem;
  margin: auto;
}
.circle, .white-c {
  position: absolute;
  width: 60.59%;
  border-radius: 50%;
}
.circle {
  mix-blend-mode: difference;
  opacity: 0.65;
}
.circle-1 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--venn-green);
  z-index: 11;
}
.circle-2 {
  bottom: 10.02%;
  left: 2.41%;
  background: var(--venn-blue);
  z-index: 13;
}
.circle-3 {
  bottom: 10.02%;
  right: 2.41%;
  background: var(--venn-red);
  z-index: 12;
}
.white-c {
  background: var(--venn-base);
  z-index: 0;
}
.content {
  position: absolute;
  color: var(--dark);
  font-size: 1.75rem;
  font-weight: 500;
  transform: translate(-50%, -50%);
  text-align: center;
}
.content-1 {
  top: 31%;
  left: 50%;
}
.content-2 {
  bottom: 33%;
  left: 30%;
}
.content-3 {
  bottom: 26%;
  left: 70%;
  line-height: 1.1;
  font-size: 1.5rem;
}
.venn-center {
  position: absolute;
  color: var(--text);
  line-height: 0.9;
  font-size: 1.8rem;
  font-weight: 500;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.ampersand {
  display: block;
  font-size: 4rem;
  line-height: 1.2;
}
.venn-diagram::after, .circle::after, .white-c::after {
  content: "";
  padding-bottom: 100%;
  display: block;
}
.intro-text {
  color: var(--text);
  font-size: 1.25rem;
  font-weight: 400;
  vertical-align: bottom;
  margin: 31.5rem auto;
  line-height: 1.375;
  opacity: 0.7;
}
body::after {
  background: url(../images/noise.jpg);
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0.05;
  pointer-events: none;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 201;
}